[2016-02-22 03:30] nightah opened #1 "https support"
It appears that when specifying a https frontend for the subsonic server the following error is encountered:

I can see the request getting to my reverse proxy as HTTP/1.1. Looks like it's trying to negotiate as http on port 443.

`[22/Feb/2016:14:22:26`` +1100] "GET /subsonic/rest/ping.view?u=admin&t=5ba991b4561efdc220c36b721561e1d0&s=09524d64e291f9225011df&v=1.13.0&c=MusicBee HTTP/1.1" 400 271 "

[2016-02-22 06:25] midwan commented on #1
You're correct, currently it only uses HTTP connections.
How did you enable HTTPS on the Subsonic server? I didn't see an option for that in my installation, including the option for setting up the certificate etc.

[2016-02-22 07:25] midwan commented on #1
Nevermind, I found the related documentation: http://www.subsonic.org/pages/getting-started.jsp#4

I'll fix this one in the plugin by providing a dropdown list with the two protocol options (HTTP/HTTPS). That way, you won't have to type the address in the hostname (as it is now).

[2016-02-22 15:19] midwan opened #2 "Settings not saved correctly"
The settings file sometimes concatenates the first two fields (host and port), when they should be on separate lines.

[2016-02-22 15:20] midwan opened #3 "Settings file password"
The password is saved in plaintext in the settings file. It should be stored in a more secure manner.

[2016-02-22 15:25] midwan opened #4 "On some installations, clicking on the Subsonic icon does not display all the contents as it should."
For example, assuming this tree:
Subsonic -> Rock -> Deep Purple -> Machine Head, In Rock, etc.

Clicking on Subsonic, displays no content.
Clicking on the subfolder Rock, displays no content.
Clicking one level deeper on "Deep Purple", shows the contents of that folder (and any subfolders).

[2016-02-22 15:57] #2 closed

[2016-02-22 21:33] midwan commented on #4
Resolved in v2.1

[2016-02-22 21:33] #4 closed

[2016-02-22 21:33] midwan commented on #3
Fixed in v2.1 - now all settings are encrypted.

[2016-02-22 21:33] #3 closed

[2016-02-22 23:48] nightah commented on #1
Great I'll keep a look out to see when you push changes, I'm happy to test and report back.

Also not that it should matter, but just for clarity my Subsonic server isn't HTTPS enabled. The frontend (nginx) acting as a reverse proxy is HTTPS/SSL enabled and is routing requests to the backend (Subsonic) running on standard HTTP.

[2016-02-23 08:33] midwan commented on #1
Actually it does matter a bit, as the behavior is different. If you enable HTTPS on your Subsonic server, then all HTTP calls made to it will be automatically forwarded to the SSL port. In this case, the plugin will function even without this suggested improvement.

Regardless, I will implement this since I believe it's a good idea to have. :)

[2016-02-24 15:02] midwan commented on #1
v2.1 added HTTPS support, so you can now configure it accordingly. The settings persists in the configuration together with the rest - though this means that your existing configuration is invalid with this version (also due to the fact that this version adds encryption in the configuration file).
A Wiki article should document this change for people upgrading.
Also, if anyone is using the *.subso

[2016-02-24 15:02] #1 closed

[2016-02-24 22:39] nightah opened #5 "Improve search/indexing"
So I have quite a large Music collection being served out of Subsonic ~4280 folders.

When I initially expand my Music collection I can see the MusicBee plugin subsequently performing a 'GET /subsonic/rest/getMusicDirectory.view' on every single directory which takes some time.
During the scanning period nothing is actually populated in the MusicBee window to search from, you have to browse to eac

[2016-02-25 08:10] midwan commented on #5
There is already a local cache file, which is populated from the server. Once the contents are fetched, they are saved there and it won't fetch them again - unless of course the operation was cancelled or the server has new content.

I agree that we should look into improving this, but AFAIK the Subsonic API does not provide a function to get ALL the content in one go. It will only show content fo

[2016-03-01 05:40] nightah commented on #5
I was thinking about this a little more, in absence of the ability to get all content in one go could we use the ifModifiedSince parameter for the getIndexes call? Would this mean we only need to call getMusicDirectory on newly added files?

Perhaps also allowing us to force a refresh via a button in the plugin window too, because right now I need to close MusicBee, browse to a new folder to initi

[2016-03-01 14:45] midwan commented on #5
Regarding the Refresh, doesn't it work for you if you just hit F5 when having a subsonic node selected? It should refresh at that point without the need to restart anything. And if you already have finished one complete caching, it should also be quite fast as well.

There is a mechanism to detect modified changes and only fetch those during the scan. But it won't help with the initial slow scan,

[2016-05-29 05:07] blattes86 opened #6 "Use MB_susbsonic with proxy"
Hi,
When i want use mb_subsonic I have this message:

Error : The remote server returned an error : (407) Proxy Authentication Required

The proxy configuration is correct in settings ( radio OK, download covers OK ...)

thank you in advance for your help

[2016-05-29 14:53] midwan commented on #6
Which proxy do you use?
Does it work if you don't use a Proxy (if you have that possibility)?
Are you using the latest version of MusicBee (currently v3)?

[2016-06-29 18:08] PlaidPhantom opened #7 "Preferences not saving"
Hello, I seem to be having an issue where I enter my server information and then hit "Save" in the preferences window, but nothing happens.  When I go back into the Preferences, the server information is reset to the default values (localhost, etc.). I'm on Windows 10.

[2016-06-29 18:33] midwan commented on #7
Hi there.
Could you try a simple test, to check if it helps?
- Close MusicBee if it's running.
- Open the location %APPDATA%\MusicBee in your Windows installation.
- Check if you have a file named "subsonicSettings.dat" there.
- Delete it if it's there.
- Start MusicBee again, try to save your configuration.

If the saved file is incorrect in any way, this will help in getting it to work. If you s

[2016-07-15 02:33] PlaidPhantom commented on #7
Sorry for the delay, I've been busy.

I did not see a subsonicSettings.dat file in the MusicBee folder.  As a test, I closed MusicBee, deleted the entire MusicBee folder, re-opened MusicBee, opened the Preferences and tried to re-enter my server settings.  It still didn't make a subsonicSettings.dat file, but I noticed an ErrorLog.dat file was created and it had the following contents:

[code]

[2016-07-17 08:40] midwan commented on #7
Hmm, strange. Could you please give me some more details on your environment?
Which OS version, MusicBee version, plugin version are you running?

[2016-07-17 08:41] #6 closed

[2016-07-17 08:41] midwan commented on #6
No feedback received, so this is getting closed for now.

[2016-07-17 20:46] PlaidPhantom commented on #7
I'm on fully updated Windows 10, MusicBee 3.0.5977, and plugin version 2.1.

If it helps any, I'm technically not running Subsonic, I'm using [Ampache](https://github.com/ampache/ampache) with the [SubSonic API backend](https://github.com/ampache/ampache/wiki/API#subsonic-api). I'm fairly certain it's set up correctly; I'm able to connect to it from a few other apps I've tried.

[2016-07-17 21:00] midwan commented on #7
Thanks for the update.
I've been testing it on 2 Win10 machines almost daily for many months now, never once say this problem.
I don't think the Ampache part is an issue, as your problem is saving the settings which happens on MusicBee's side of things (not the SubSonic side).

Have you tried running MusicBee as Administrator? Perhaps under a different user account if possible?
I'm thinking that m

[2016-07-18 01:08] PlaidPhantom commented on #7
Still no luck. I tried running as Administrator both before and after upgrading MusicBee, and even reinstalled the plugin from scratch. I tried to roll back to the 2.0 plugin just for kicks, but my settings failed because I'm using HTTPS.

[2016-07-18 12:25] midwan commented on #7
Hm, I wonder if there's something wrong with the settings you used then. Any chance of creating an account for me and sending me the details so I can test with that?

The thing is, the settings file is saved by MusicBee itself with a mechanism that is put there for all plugins to use. The plugin will just call that ("SaveSettings()") which will trigger the creation of the settings file in %APPDATA

[2016-07-20 04:37] PlaidPhantom commented on #7
Sure, a test user would be fine. Should I email the details to you?

[2016-07-20 07:56] midwan commented on #7
Of course you shouldn't put something like that on a public space.. I've sent you an e-mail regarding the issue. ;)

[2016-07-22 03:54] zachminot opened #8 "Library not showing in the subsonic node"
Anyone still active here? I can go into a lot more detail if need be, just wanna make sure someone is on the other end!

[2016-07-22 07:16] midwan commented on #8
Yes, I am here. :) Please describe your problem in detail, including versions of MusicBee, operating system, Subsonic server used.

[2016-07-23 17:18] zachminot commented on #8
MusicBee Version: 2.5.5804
Subsonic Version: 5.3 (build 4569) (I'm also paying for the premium version)
Plugin Version: subsonic v2
OS: Windows 10 Pro

I can't get my music to show up under the Subsonic icon in the computer node.
I have tested this for a small folder with 2 sub folders and a couple of songs so I know its not the size of my collection that's causing the problem. I will play around

[2016-07-25 02:33] zachminot commented on #8
Also, I've left it running for days, and the list still has not populated on the master subsonic node. Thanks again.

[2016-07-25 13:13] midwan commented on #8
Thanks for the info, I'll setup an environment to try and recreate this problem and see where we are.

[2016-07-28 16:25] midwan commented on #7
I've managed to narrow down this problem.
Unfortunately, the problem is with Ampache's Subsonic implementation. It does not send back the correct response when a "ping.view" request is sent, using a Username, Token and Salt as parameters.

Perhaps it does not support this method of requests, expecting instead the (older and insecure) method of specifying username and password in the URL?

The best

[2016-07-28 16:25] #7 closed

[2016-07-28 16:53] midwan commented on #8
Hmm, I can't see to get the same problem in my tests. There must be something I have differently setup somewhere.

<img width="1110" alt="musicbee" src="https://cloud.githubusercontent.com/assets/3877365/17221501/5e239102-54f4-11e6-9be1-9550b1c10384.png">

Any chance you could setup a test account for me on your server and e-mail me the details, so I can test with those? Perhaps it's something I c

[2016-07-28 18:17] phred13 opened #9 "Playlist problem still exists"
In March I posted on the MusicBee forum that playlists were an issue with SubSonic on MB. That post is here http://getmusicbee.com/forum/index.php?topic=3620.msg106098#msg106098
"I'm not having much success with it.  If I click on the SubSonic node, I see and have access to all my tracks.  When expanding the node, my playlists show but there's a status bar message indicating that "Unable to access

[2016-07-28 18:41] midwan commented on #9
Thanks for taking the trouble to report the problem here as well.
Could you please mention the version of each component also, so I can setup a test environment and try to reproduce this?
e.g. Subsonic server version, MusicBee version (I already know the plugin version).

It would also help if I had an idea of the kind of connection you are using, is it HTTP or HTTPS?
Do you have a path after the

[2016-07-28 19:15] midwan commented on #9
When trying to reproduce this on an installation I have here, with the latest version of MusicBee (3.0.5995) and my Subsonic 6.0 server, I didn't see the problem.
I created two playlists from scratch, added several tracks in each and then refreshed the Subsonic node in MusicBee with F5. The playlists showed up, I selected them and I could see and play the tracks as expected.

<img width="1280" alt

[2016-07-28 21:13] phred13 commented on #9
Thanks for the "personal attention."  :-)

I'm currently running MB 3.0.6053, which is today's patch version. But as
you know, the problem appeared back in March when I first reported it. My
playlists are mostly Auto-Playlists, with a few static thrown in. About
80 total, with about ten being static. It doesn't matter what type of
playlist, the error still shows.

Also when I'm using the music nod

[2016-07-28 21:20] phred13 commented on #9
Sorry - I didn't notice you sent this also. I would've combined them into
one in order to cut down your traffic.

MB 3.0.6053
SubSonic 6.0
I'm using HTTP on port 13013 with a memory limit of 125mb and the server
address is the default /

----- Original Message -----
From: Dimitris Panokostas <notifications@github.com>
To: midwan/MB_SubSonic <MB_SubSonic@noreply.github.com>
Cc: phred13 <phred@rocke

[2016-07-28 21:34] midwan commented on #9
Thanks for the info. It's certainly not a problem related to the number of tracks, as I'm using it with a bit over 22,000 tracks without a problem. I don't use a lot of playlists however, I just created a couple to test what you reported, but they worked for me as well (though I also got no cover art, the tracks did play normally).

To be able to fix this, I need to recreate it first and debug it

[2016-07-29 00:04] phred13 commented on #9
I'd certainly be willing to give you a test account on my SS server. I will
be around until Tuesday and then gone for about a week. The server will
not be accessable during my week away as I'll be shutting everything
down. Let me know how you wish to proceed.

----- Original Message -----
From: Dimitris Panokostas <notifications@github.com>
To: midwan/MB_SubSonic <MB_SubSonic@noreply.github.com>
C

[2016-07-29 12:47] midwan commented on #9
Please mail me the details as soon as you can then, I might have some time to look into it over the weekend. If I find out what is causing it, I can continue working on it even if the server is not available, we'll just have to wait until you're back in order to test it then.

[2016-07-29 13:07] phred13 commented on #9
Sounds like a good plan.
URL to the server is: http://73.69.17.43:13013
Username: Dimitris
Password: MidWan

I've tested the login and all is fine. Let me know if you have issues
logging in.

Thanks.

----- Original Message -----
From: Dimitris Panokostas <notifications@github.com>
To: midwan/MB_SubSonic <MB_SubSonic@noreply.github.com>
Cc: phred13 <phred@rocketmail.com>,  Author <author@noreply.g

[2016-07-29 13:10] midwan commented on #9
Thanks, I've masked out the details on the comment, since it's public ;-)

I'll try it out in a bit and let you know if I have any problems, otherwise I can start working on this right away.

[2016-07-29 13:17] midwan commented on #9
Great news, I've been able to recreate this in your server, and I have an idea of what might be causing it (invalid characters in the XML response received). I can probably fix this quickly, will let you know soon.

[2016-07-29 13:28] phred13 commented on #9
Great news indeed!

On July 29, 2016 9:17:56 AM EDT, Dimitris Panokostas <notifications@github.com> wrote:

[2016-07-29 14:10] phred13 commented on #9
Thanks for masking. I didn't realize these were publicly posted as I'm
replying via an email client.

----- Original Message -----
From: Dimitris Panokostas <notifications@github.com>
To: midwan/MB_SubSonic <MB_SubSonic@noreply.github.com>
Cc: phred13 <phred@rocketmail.com>,  Author <author@noreply.github.com>
Date: Fri, 29 Jul 2016 06:10:08 -0700
Subject: Re: [midwan/MB_SubSonic] Playlist problem

[2016-07-29 21:48] DarrenS97 opened #10 "Unknown Error"
https://www.reddit.com/r/subsonic/comments/4v5gil/musicbee/

I went with MusicBee because it's supported by specific Rainmeter skins that I use.
However in the process of trying to connect to my subsonic server I get the error message "The Subsonic Server Did Not Respond As Expected" - http://puu.sh/qinQ3.png
Server settings: http://puu.sh/qinSm.png
MusicBee settings:
Protocol: HTTP
Hostname: ****

[2016-07-29 21:54] midwan commented on #10
The error message indicates that the plugin tried to contact the Subsonic server using the details provided and send a "ping" request. If all goes well, Subsonic sends back a standard request indicating a success. If it doesn't, you will get this error message to notify you.

In other words, your Subsonic server did not respond with an "OK" to the API's ping request.

This may be due to a firewall

[2016-07-29 22:05] DarrenS97 commented on #10
Successfully connected through IP address rather than hostname.

[2016-07-29 22:12] midwan commented on #10
OK, then it's a DNS resolution problem. The hostname you used did not resolve to the IP you currently have. This is a rather common problem with dynamic DNS services, if they don't update the IP you have often enough.

I believe we can close this issue then, as it's not related to the plugin. :)

[2016-07-29 22:12] #10 closed

[2016-07-30 00:23] zachminot commented on #8
Surely, what email should I send it to?

[2016-07-30 02:07] zachminot commented on #8
I appreciate your time Dimitris! Here's my teamviewer credentials feel free
to log in and do whatever you need to as long as its between 10am-12pm
Eastern Standard Time (Other my computer is sleeping).
Let me know, thank you!

TeamViewer id:
109 705 789
Teamviewer pass:
t932pc

On Thu, Jul 28, 2016 at 12:53 PM, Dimitris Panokostas <
notifications@github.com> wrote:

[2016-07-30 06:00] PlaidPhantom commented on #7
That makes sense. Thanks for the help! I've [opened an issue](https://github.com/ampache/ampache/issues/1352) with the Ampache devs to see if they can shed further light.  Maybe once I find some free time I could build my own MusicBee/Ampache plugin. :)

[2016-07-30 22:30] midwan commented on #9
I just pushed a commit that should fix your problems.
The issue was related to invalid characters which came back from your server responses (NULL or \0 characters in the XML data). It's strange because not all Subsonic server installations do that (mine doesn't) but it's now handled in the plugin anyway. I'm not sure if this is related to the platform Subsonic is installed on (I'm guessing yours

[2016-07-30 22:42] midwan commented on #8
I've updated your comment to mask out the connection details, as this is a public post... :)

Meanwhile, I've just finished working on issue #9 and pushed out a new beta release here:
https://github.com/midwan/MB_SubSonic/releases/tag/v2.5-beta

Could you please give it a try and see if it solves the problem for you?

[2016-07-30 22:43] midwan commented on #5
I've just pushed out a new beta version fixing issue #9 here:
https://github.com/midwan/MB_SubSonic/releases/tag/v2.5-beta

It should also improve speed among other things, would you mind giving it a try and let me know how it goes for you?

[2016-07-30 23:29] phred13 commented on #9
NICE!! I'm now able to play from the playlists. Small issue is that no album art is appearing but that may be due to the fact that I didn't give it enough time to load. So later tonight I will open up a node and let it sit there for a while to see if the art show.

And yes, I'm running Windows 7. I don't understand why you couldn't play any tracks from my server. I test that when I set up the acco

[2016-07-31 07:39] midwan commented on #9
I could see the artwork from your server in Playlists, it took a few seconds but it was downloaded normally for several tracks.

As for playback, I got a response from Subsonic that "Dimitris is not allowed to download tracks", which is a standard response when a user lacks that permission. I could browse the playlists and the Music folder, see the artwork and the tracks, but I could not download/

[2016-07-31 09:10] midwan opened #11 "Folders might show message "Directory does not exist" when scanning"
Affects v2.5 beta only:
When a top-level directory is selected in the Subsonic, a message is displayed:

An error has occurred:
Directory not found

Browsing and selecting subfolders works as expected.

This seems to happen only during the initial scan of the complete folder structure, after which the Cache file is generated. It does not seem to occur after the Cache file is there and we browse th

[2016-07-31 12:28] phred13 commented on #9
Yes, I had downloading disabled, but the playing of tracks was allowed.

As for the artwork, I get nothing. Not while playing, not while in Album view. I left MB connected to SS for more than two hours and at that point only one album had artwork out of more than 4,000.

And to add to the mystery, when in Album view, the track count for each album shows as zero. When I right-click on an album and

[2016-07-31 14:17] midwan commented on #9
Hm, it must be related to how the plugin / MB requests the tracks then, because currently it's using the "Download.view" call in order to play a track, or "stream.view" if it has the Transcode option enabled. I'll have another look at the Subsonic API to see if there's another way to get them also.

Regarding the artwork, I suspect it has to do with the "View" you have in MB. It may be related to

[2016-07-31 14:35] phred13 commented on #9
I rarely use Album and Tracks view, but I just tried it and the artwork still doesn't appear. Nor does it appear when playing a track. But again, no big deal.
![2016-07-31_10-34-54](https://cloud.githubusercontent.com/assets/20709499/17277181/707bf264-570a-11e6-81e7-0b123b509d07.jpg)

[2016-07-31 14:43] midwan commented on #9
OK, thanks for testing it, I will investigate more and see what I find.

Regarding playback, there are 2 ways to get a file from Subsonic in order to play it:
- Stream
- Download

The plugin was configured to use Stream only when "Transcoding" was enabled, using download in other occasions. I'll see if we can always use Stream instead, it might make more sense - Download should actually save the f

[2016-07-31 15:03] phred13 commented on #9
Thanks for the explanation regarding 'stream' vs 'download' and how you are pulling the file for playing.

Take you're time on this because (as previously mentioned) I will be away for a week or so starting the middle of this coming week.

[2016-08-01 05:15] nightah commented on #5
Can do, I've just pulled it down - will test and report my findings.

[2016-08-01 12:26] midwan commented on #9
I've made the change to use Stream only under all scenarios and it seems to work fine. :)

Regarding the Artwork not showing for tracks/albums (it does show for Artists as you saw), my investigation lead me to believe that the problem is actually caused by MusicBee itself: it doesn't call the relevant functions that get the Artwork in the plugin.

I reported this to Steven, hoping that he can take

[2016-08-01 12:39] phred13 commented on #9
Good news. Thanks for letting Steven know.

[2016-08-01 18:50] midwan commented on #9
Steven just confirmed that it's a bug in MB indeed. He sent me a patched version to test, and I could see that it showed the Artwork with that version, at least in the various views (Albums and Tracks, Album covers, etc). It doesn't show any artwork if you select a track and go to "Edit", so I reported that to see if he can fix it as well.

One drawback is that because MB caches all artwork locall

[2016-08-01 18:59] phred13 commented on #9
More good news! I usually grab every patch version that comes along, so I'll keep checking.

Thanks.

[2016-08-01 19:22] phred13 commented on #9
Looking good!!!
One issue still remains and that is the track count still shows as zero. Ignore the 'no cover art' in the screenshot - I'm reusing an old one that shows the zero tracks issue:
![de51259c-56f7-11e6-98f0-6d2e18f3515f](https://cloud.githubusercontent.com/assets/20709499/17305767/23bbc026-57fa-11e6-9c10-ebcd17e4cecc.jpg)

[2016-08-01 19:45] phred13 commented on #9
Should I open a new ticket on the zero track count issue?

[2016-08-01 19:53] midwan commented on #9
There's a good chance that's also a but in MB, so I'm waiting for Steven to confirm. If it's not, then we can handle it as a separate issue.

[2016-08-01 19:56] phred13 commented on #9
Ok - let me know where we wind up on this and if necessary I'll open a new issue. Thanks.

[2016-08-02 04:11] zachminot commented on #8
Thank you Midwan!!! I can now see my full subsonic library when I click on the subsonic icon. I do get occasional "directory not found" error messages when clicking on folders in the computer node explorer, but usually clicking the folder again results in the selected folder showing up. Thanks again! This plugin combined with MusicBee is definitely the most effective way to share a media library.

[2016-08-02 10:55] midwan commented on #8
Happy to see that it works for you! :)
I am aware of the "Directory not found" problem, so I hope to have this resolved soon in another version update. Meanwhile I guess we can close this issue then.

[2016-08-02 10:55] #8 closed

[2016-08-02 12:38] nightah commented on #5
Seems better on the aggregation but playing is super slow now because it waits until the song has finished downloading completely before beginning. So it isn't streaming anymore.

[2016-08-02 12:50] midwan commented on #5
Thanks for reporting that. Could you try with the below release and let me know if this is still an issue?
https://github.com/midwan/MB_SubSonic/releases/tag/v2.6-beta

[2016-08-04 04:18] nightah commented on #5
Still looks like it isn't streaming, and waiting until the file is completed.
Let me know if need more information I can measure time diffs between the versions and such if required.

[2016-08-04 09:36] midwan commented on #5
OK, thanks for reporting. I think I know where this is coming from, so it will be fixed in the next beta update.

I'll let you know when a new version is ready so you can give it another try, here.

[2016-08-04 09:37] midwan commented on #5
Meanwhile, this issue can be closed - we can open a separate one for the streaming problem.

[2016-08-04 09:37] #5 closed

[2016-08-04 09:38] midwan opened #12 "Streaming does not work, instead the whole track is downloaded"
When trying to play a track, it doesn't get streamed - instead, it's downloaded fully to the client before playback starts.

[2016-08-24 14:07] phred13 commented on #9
Any news on this? I've still got "0 Tracks" showing in Album Art View.

[2016-08-24 15:50] midwan commented on #9
Unfortunately I haven't heard back from Steven yet.

Have you tried with the latest official MB version?
In my environment, I don't even have a number of tracks showing for playlists in this version:
![image](https://cloud.githubusercontent.com/assets/3877365/17937633/10dae3ca-6a23-11e6-9df0-231ae72fece1.png)

If you see something different, could you please let me know how? Though it may be a bug

[2016-08-24 16:06] phred13 commented on #9
I had to create a Virtual Tag for the line under each album that shows the year and the number of tracks. It works when using the Artwork view directly within MB and my library. It's only in the Subsonic node that it doesn't work. Here's the tag in case you want to test it:
`$IsNull(<Year>,,<Year>" /") $If(<Album Track Count>=1,<Album Track Count>" Track",<Album Track Count>" Tracks")`

Same behav

[2016-08-24 17:36] danielreuther opened #13 "Lower API requirement to 1.13.0"
Because of the recent move of Subsonic away from its open source roots, it looks like forks gained some traction. The things being worked on over at the LibreSonic project, for instance, look promising.

But these are stuck with the API version that's been shipped with the last GPL-licensed Subsonic version (which is 1.13.0).

Is there anything in particular the plugin would require 1.14.0 for? Wo

[2016-08-24 19:56] midwan commented on #13
I wasn't aware of this development, thanks from bringing it to my attention.
We can certainly lower the API requirement, if 1.13.0 works then it's easy. :)

[2016-08-24 20:00] midwan commented on #13
Just pushed a commit that fixes this, the binaries will follow soon.

[2016-08-24 20:00] #13 closed

[2016-08-24 21:52] danielreuther opened #14 "Token-based auth doesn't work with LDAP auth"
This is a known limitation of the new "token-based authentication" of Subsonic (I already described it over [here](https://github.com/Libresonic/libresonic/issues/69)): Since Subsonic doesn't have access to the clear text password, it cannot md5 it with the client-submitted random(!) salt. This is a severe design limitation. Alas, there's not much we can do about it apart from asking client develo

[2016-08-24 21:52] danielreuther commented on #13
Great, thanks much! I can confirm that my 5.3 instance is answering the requests now -- alas, I'm now running into https://github.com/midwan/MB_SubSonic/issues/14

[2016-08-25 11:44] midwan commented on #14
We could add that as an option, sure. I'll have to run some tests to be sure it works without problems first.

[2016-08-25 17:07] midwan commented on #9
Thanks for this, it certainly helps. I'll try to reproduce it and if we see it's a bug in MB, report it to Steven. Otherwise, I'll fix it as soon as possible.

[2016-08-25 17:08] midwan commented on #12
This might be a bug in MB, if it doesn't dispose the Steam properly. Waiting for feedback from Steven.

[2016-08-25 17:37] midwan commented on #9
I must have done something different then, or we're testing on a different version. Here are my results:
![image](https://cloud.githubusercontent.com/assets/3877365/17979530/5e35b13a-6afb-11e6-976e-86a2f15e0e66.png)

I used your Virtual tag above, added it in the Custom view for the panel and it seems to work.

[2016-08-25 17:51] midwan commented on #9
It seems to be reporting incorrect number of tracks, even though the number of tracks fetched from Subsonic (and from the plugin) are correct. I've just reported this on the MB forum.

![image](https://cloud.githubusercontent.com/assets/3877365/17979894/2f0e8dda-6afd-11e6-8dd6-6fd5bb2c7825.png)

[2016-08-25 17:54] midwan commented on #12
This seems to be corrected in the latest stable version of MusicBee. Closing the issue for now.

[2016-08-25 17:54] #12 closed

[2016-08-25 19:35] midwan commented on #14
Just committed the changes that allow for this method of authentication. Please test and let me know if you find anything wrong with it, it seemed to work fine here.

[2016-08-25 19:35] #14 closed

[2016-08-25 20:26] danielreuther commented on #14
Tested and works! Thanks a bunch for the swift fix -- it's appreciated :)

Just one detail: This issue is not limited to forks of Subsonic (as a matter of fact, I'm using a plain 5.3), it's something that's inherent to the design of that new auth mechanism. It requires the server to store passwords in clear text in order to hash them using the client-generated salt.

[2016-08-25 20:33] phred13 commented on #9
Thanks for reporting it to Steven.

On August 25, 2016 1:51:09 PM EDT, Dimitris Panokostas <notifications@github.com> wrote:

[2016-08-26 06:48] midwan commented on #9
According to Steven, MB takes the numbers from your local library only. Forum discussion can be found here: http://getmusicbee.com/forum/index.php?topic=19483.0

This is not a bug in the plugin I'm afraid, there's not much I can do from my side besides try to convince Steven that it should report the actual number of tracks fetched. I'm closing the issue here, we can continue the discussion on the

[2016-08-26 06:48] #9 closed

[2016-08-26 06:54] midwan commented on #14
Thanks for reporting back.
I know this is a feature included in Subsonic from the older versions, just wanted to highlight that it was put in place because of this request. :)

[2016-08-30 06:05] nightah opened #15 "FLAC support"
When attempting to play a .flac file the following error is received:

The transcoding settings for flac and mp3 are default within the Subsonic instance.
1. name - mp3 audio
2. convert from - ogg oga aac flac m4a wav wma aif aiff ape mpc shn
3. convert to - mp3
4. Step 1 - ffmpeg -i %s -map 0:0 -b:a %bk -v 0 -f mp3 -

This is Subsonic 6.0 running on Arch Linux with MusicBee 3.0.5995 and MB_SubSon

[2016-08-30 06:07] nightah opened #16 "Dragging files into playlist results in error"
It appears that when dragging files from within the search pane into the playing tracks window results in the following error:

If the file from within the search pane is right clicked and set to queue last, queue next or play now all of these options appear to work.

This is Subsonic 6.0 running on Arch Linux with MusicBee 3.0.5995 and MB_SubSonic 2.8beta.

[2016-08-30 08:39] midwan commented on #15
FLAC playback works normally in my tests using MusicBee 3.0.6068 (latest stable release) and MB_Subsonic 2.8 beta.

Have you enabled transcoding in your Subsonic server? Maybe that's the cause of this problem, and why I cannot see it. Does it work if you don't transcode the stream and send it off as-is?

Also, there's an option to use transcoding from the plugin - if enabled, it will transcode any

[2016-08-30 08:41] midwan commented on #16
I don't see this problem with MusicBee 3.0.6068 in my environment, could you please try upgrading to that and see if it's still an issue?

[2016-09-02 03:07] nightah commented on #16
Couldn't find 3.0.6068, installed 3.0.6067 tried it and had the same problem.
Also updated to 3.0.6087 and had the same problem. Are there any specific logs that I should be looking at to try find more information?

[2016-09-02 03:48] nightah commented on #15
So transcoding is turned on the Subsonic server.
I've tried ticking transcode as mp3 within the plugin but it seems that the change is not being saved.
Every time I go back into the preferences it appears unticked.

[2016-09-02 08:04] midwan commented on #15
The problem with the transcoding checkbox not staying enabled was a bug, I've fixed it in the current sources (not yet released, but soon).

Can you try disabling the Transcoding option from the server to see if it makes a difference for you? Raw FLAC files play fine here, as well as transcoded "on-demand" from the player. Perhaps if they're transcoded from the server this comes up.

[2016-09-02 08:11] midwan commented on #16
The current stable release is 3.0.6068, although the download link mentions 3.0.6067:
![image](https://cloud.githubusercontent.com/assets/3877365/18197020/59b171d0-70f5-11e6-95be-8bc5cb31f816.png)

I still can't see the problem here, so we'll need some more details.
Check your %APPDATA%\MusicBee folder for the logs, there should be an ActivityLog.dat, ErrorLog.dat and a few others there. Try clean

[2016-09-08 09:22] kdtt87 commented on #15
Hi,
First of all. NICE WORK!

However, I am having the exact same issue as nightag.

I am running plugin version 2.8 Beta on MusicBee 3.0

My subsonic server is as follows:
Version	6.0 (build a7857c) – April 30, 2016
Server	jetty-6.1.x, java 1.7.0_111, Linux (80.5 MB / 188.0 MB)
OS           Ubuntu server 14.04.03 x64

I have tested with transcoding bodt enabeled and disabeled on the server.
I hav

[2016-09-08 17:01] midwan commented on #15
@kdtt87 Thank you for the extra information. Is there some pattern to this, besides the fact that they are FLAC files? E.g. is it only occurring in Playlists?

I have several FLAC files here, but so far at least I haven't been able to recreate it. That makes it a bit difficult to find out what's causing it. If we manage to find a scenario to recreate this, it will make things a lot easier.

Altern

[2016-09-08 17:59] kdtt87 commented on #15
@midwan
The problem is ocurring with both playlists and regular playback.

As I don't know om which OS you are hosting your server, it could be a linux thing?
Purely guessing

Will email you account details shortly

[2016-09-08 19:32] midwan commented on #15
@kdtt87 the server I've been testing with so far is hosted on MacOS X. I can try setting up a VM with Ubuntu server 14 to see if it makes any difference.

Thanks for the connection details, I'll test it out as soon as I can and let you know what I find.

[2016-09-09 05:32] kdtt87 commented on #15
Hi again,
I MAY have found something.
When i access my subsonic via Musicbee from work (limited broadband) i get the dreaded error message.
But when i access my subsonic from home (still using the same external adress, but with gigabit access) everything works fine.

Could it be a timeout issue due to limited bandwith?

[2016-09-09 10:14] midwan commented on #15
That may be one thing to look for, thanks!

I'll test the same and see what we get.

*Dimitris Panokostas*

On Fri, Sep 9, 2016 at 7:32 AM, kdtt87 <notifications@github.com> wrote:

[2016-09-18 15:24] midwan commented on #16
No feedback received, closing.

[2016-09-18 15:24] #16 closed

[2016-10-14 17:53] nish81 opened #17 "Unable to connect to server (other subsonic clients work fine)"
(I'm completely rewriting this post 9 mins after posting it as I did some more digging and found a lot more relevant information)

I've set up Ampache on a server and configured the Subsonic API to work there. Unfortunately it only implements version 1.11.0 of the API and there appear to be no immediate plans to upgrade this.

I've been able to connect to it and successfully play music using an ol

[2016-10-14 18:06] midwan commented on #17
What version is your server?

The plugin has a minimum required version it expects (specifically, it supports a minimum of API v1.13), if yours is older than that it may be why you're getting this message.

It used to be API 1.14 it expected, but we recently lowered that to 1.13 to support Ampache installations with Hex encoded passwords. So it does work with Ampache in general. :)

[2016-10-14 18:14] nish81 commented on #17
Thanks for the reply midwan! I completely rewrote my original post because I did some digging. The answers to your question, and some more information, are in there. The latest Ampache uses v1.11.0 of the API so I guess it isn't compatible with Ampache in general?

[2016-10-14 18:22] midwan commented on #17
I've just pushed an update, to lower the API requirement to 1.11. This should enable it to work on Ampache installations like yours, without too much trouble.

I'll upload the binary in a bit, please let me know if you have any problems with it after that.

[2016-10-14 18:26] nish81 commented on #17
Thank you! I'll try it out in a bit after you upload the binary.

[2016-10-14 18:31] nish81 commented on #17
I just tried the new binary, but I have the same set of issues I described in my original post after I lowered the reported API version to 1.11.0. I'll copy paste it again, this is what happens:

MusicBee: now connects and can browse music. I see all my songs (24, just to test it out), with album art etc. However, only two of them play successfully: a track called 'Harmony' and a track called 'Lyc

[2016-10-14 18:34] midwan commented on #17
Hmm, could you open an account for me to test remotely on your server? If so, please send me the details via e-mail at midwan at gmail dot com, maybe I can see something from here.

[2016-10-14 18:59] midwan commented on #17
Ok, I can recreate the problem from here, on your server.
It has something to do with the reported directory structure to files, so I will consider it a bug.
I've flagged the issue as such, and I'll start working on a fix.

If it's not a problem, I would like to request that you leave the account active for a bit more, until we can resolve this. Since I can't recreate it on my server, it would hel

[2016-10-14 19:01] nish81 commented on #17
Sure, I'll leave it open until you're done, and thank you for the fast work! If there's anything I can do to help let me know.

The actual directory structure is /[Artist]/[Album]/song name.mp3. It all lives in a /music/ folder.

[2016-10-17 08:59] midwan commented on #17
Regarding the API requirement, v1.11 does not support Token based authentication which was introduced in v1.13 onwards.

Therefore, the API version information passed from the plugin will have to automatically change depending on the method of authentication selected:
- If HexPass is selected, the plugin will use v1.11 when connecting to the server.
- Otherwise, it will default to v1.13 (to enable

[2016-10-20 01:16] nish81 commented on #17
Makes sense. This is separate from the folder structure bug, right?

[2016-10-20 07:49] midwan commented on #17
Yes, it's a separate thing. I've already pushed a commit to implement the above behavior, the note was put there for future reference. :)

[2016-12-07 19:37] andocromn opened #18 "Feature: Save Playlists to Subsonic server"
I would like the ability to save playlists from musicbee back to a playlist on the subsonic server.  This doesn't seem to be currently implemented

[2016-12-07 19:42] user020 commented on #15
I'm getting this same error when trying to play FLAC files too. Enabling 'transcode as MP3' in the plugin allows me to play FLAC files regardless of the server transcoding settings but I'm not able to skip to another point in the song. In any case, I'd like to be play FLAC files directly without any transcoding as my computer and server are on the same wired gigabit LAN.

MusicBee version: 3.0.617

[2016-12-13 19:49] andocromn opened #19 "System.ArgumentException: An item with the same key has already been added"
I regularly see that tracks have been skipped.  i checked the error log i found this.  feel free to contact me, thank you

12/13/2016 2:40:23 PM - 6.1.7601.65536 - 3.0.6067.36587 - url: Subsonic:\Artist-Albums\Aversions Crown\2011 - Servitude\Aversions Crown - 05 - Repurposed - Reprogrammed.mp3
System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. -

[2016-12-14 07:27] midwan commented on #19
Thanks for reporting this, I'll look into it.

[2016-12-14 07:28] midwan commented on #18
If the API supports it, I can add the functionality in the plugin itself, but it must also be supported by MusicBee otherwise nothing will happen. :)

I'll look into it and update you when I have more news.

[2016-12-14 07:29] midwan commented on #15
Thanks for reporting this @user020. I will try to recreate this again and see what we get.

[2016-12-14 15:13] andocromn commented on #18
the subsonic rest API does have support for createPlayist and updatePlaylist calls.  I use these myself through the python API  http://www.subsonic.org/pages/api.jsp#createPlaylist

let me know if I can help

[2016-12-15 13:08] midwan commented on #18
Great, then at least we can proceed with the plugin's side of things.
I'm currently a little busy with other projects, so it might take me a while to get back into this. If you feel like it, you can take a look as well (Pull requests are welcome!) until then.

[2017-01-11 20:53] weirdcrap opened #20 "Can't get working with LibreSonic"
Just found out about MusicBee and have a LibreSonic server so I figured I would check out your plugin. I am using LibreSonic 6.1, MusicBee v3, and v2.9 of your plugin. Has this been tested/known to work with LibreSonic?

I am having issues getting the plugin connected to LibreSonic either through the domain name or the direct static IP address, I just keep getting an error that the server did not

[2017-01-12 19:23] weirdcrap commented on #20
@midwan Sure.

This is running in a docker container made by the lovely folks at [LinuxServer.io](https://hub.docker.com/r/linuxserver/libresonic/) which is in turn running on top of [UnRAID 6.3-RC6](https://lime-technology.com/) (which IIRC is essentially a custom build of slackware).

When navigating to my server using the ping documentation you linked I get this back:

`<subsonic-response xmlns

[2017-01-13 12:40] midwan commented on #20
@weirdcrap
Yes, it definitely because it doesn't get a Ping response. As documented in the Subsonic API, it should come back with an empty <subsonic-response> with a status of "ok". Yours comes back with "failed" mentioning that "required parameter is missing", which seems a bit strange. Normally for a Ping call there is no extra parameters needed, at least according to the official API specs (as

[2017-01-19 14:47] weirdcrap commented on #20
Interesting, the author of Libresonic claims he attmpts to keep Libresonic cross compatible with Subsonic applications where possible so I am surprised he doesn't have the ping function in the API.

Is there anything you would like from me to help you troubleshoot?

[2017-01-19 20:41] midwan commented on #20
@weirdcrap
Not for now, I'm thinking of implementing a "fallback" check for such cases where Ping fails, that would allow LibreSonic to work also. Once that's in place, I'll notify you here so you can test!

[2017-02-01 19:16] andocromn opened #21 "Ping command gets invalid response"
I'm having a lot of problems with the subsonic plugin it seems like since 2017...  when trying to set the server i receive the "server did not respond as expected" message, then it works for a while until i restart musicbee and then it doesn't even show subsonic in the computer tree.  I'm at a loss for what to do, i've even gone as far as to wipe everything from musicbee and reinstall and the prob

[2017-02-01 19:26] midwan commented on #21
Step 1) Relax, we'll find what the problem is (and hopefully fix it)

Step 2) Let's start by getting all the details in place. Nothing has changed in the plugin itself for quite some time, has something changed in your environment around the time you started having problems? E.g. Subsonic server upgrade, MusicBee version upgrade, etc?

3) The message "server did not respond" comes up if the plugin

[2017-02-01 19:45] andocromn commented on #21
wow thanks for the super quick response!  So, i had updated my music bee version, since then i have tried reverting back to the version and plugins that I originally used when i first started using musicbee in October.  Nothing significant has changed as far as i have been able to determine, no recent updates to subsonic either.  I've done the typical OS updates with apt-get, but thats fairly par

[2017-02-01 19:47] midwan commented on #21
@andocromn
Is that a standard Subsonic server installation or a fork, like LibreSonic?
We recently found out that LibreSonic does not even have the Ping command implemented in the API (see #20 also).

[2017-02-01 19:50] andocromn commented on #21
yeah, the standard subsonic server...  licensed and paid for

[2017-02-01 19:51] midwan commented on #20
Note to self: Maybe a checkbox (something like "Test connection") to control if a Ping command is sent to the server to validate the connection. It should be checked by default, but if disabled we could skip the Ping command altogether and assume the server is there.

[2017-02-01 19:53] midwan commented on #21
Thanks, I just got the same from my server also. I wonder when this started happening...

Anyway, I'll consider it a plugin bug and work on a fix! Thanks for bringing it to my attention.

[2017-02-01 19:54] midwan commented on #20
@weirdcrap
I just managed to recreate this on a standard Subsonic installation also, which does normally have Ping.view available.

I'll work on a fix in the plugin code and let you know.

[2017-02-01 19:57] midwan commented on #20
@weirdcrap
Update: could you please test the following instead:
http://your-server/rest/ping.view?u=joe&p=sesame&v=1.12.0&c=myapp

where "joe" is a valid username, and "sesame" is a valid password for your server?

[2017-02-01 19:57] midwan commented on #21
@andocromn
Update: could you please test the following instead:
http://your-server/rest/ping.view?u=joe&p=sesame&v=1.12.0&c=myapp

where "joe" is a valid username, and "sesame" is a valid password for your server?

[2017-02-01 20:01] andocromn commented on #21
`
<?xml version="1.0" encoding="UTF-8"?>
<subsonic-response xmlns="http://subsonic.org/restapi" status="ok" version="1.14.0"/>`

[2017-02-01 20:06] midwan commented on #21
@andocromn
Sorry, I forgot that you have to pass authentication in the request, in order to get a proper response back. :)

So if that works, it means that the request sent from the plugin was not acknowledged as a valid one from the server (so the server sends back a "non-ok" response). I'll try to see if I can recreate this here first and we'll see.

[2017-02-01 20:15] midwan commented on #21
@andocromn
Hmm it does work normally here.
Could you perhaps open an account for me on your server and send me the details over e-mail (midwan@gmail.com), so I can test connecting there? If there's an error, I can capture it while debugging and see where it comes from.

Important note: Are you using Token based authentication or Hex Enconded Password?

[2017-02-01 20:28] andocromn commented on #21
sent you creds for my server.  the user account has the same rights as the user I use.  I do not login to my server as an administrator account when playing music from my server.  also probably important to note that i use HTTPS and a non-standard port

I'm not sure what you mean by Token or Hex... i just use a normal user / password, nothing fancy like LDAP or anything

[2017-02-01 20:38] midwan commented on #21
@andocromn
Thanks, I got the details and tested a connection already - which was successful. I could see the playlists and tracks normally.

The response that came back from the server was correct also, I monitored what was sent and what came back: A proper "ok" response.

So we know that the current version of the plugin I tested with, works with the server details you sent me. The default authen

[2017-02-01 21:57] andocromn commented on #21
Ok, so i've got it working for now.  I guess i had mistakenly assumed that i had only been using your latest version.  I guess i had downloaded 2.2, which looks like the latest "stable".  I'm using 2.9 now looks like its OK.  I'll be using heavily tomorrow and see how it goes

thanks again

[2017-02-01 23:06] midwan commented on #21
Thanks for confirming.
I'll move the 2.9 to final, since it's been under "beta" for quite a while without any significant problems

[2017-02-01 23:06] #21 closed

[2017-02-02 20:23] weirdcrap commented on #20
Absolutely, I will test it tonight when I get home from work.

[2017-02-02 22:51] weirdcrap commented on #20
@midwan looks like we are good, right?

`<subsonic-response xmlns="http://libresonic.org/restapi" status="ok" version="1.13.0">
<script data-x-lastpass="">
(function(){var c=0;if("undefined"!==typeof CustomEvent&&"function"===typeof window.dispatchEvent){var a=function(a){try{if("object"===typeof a&&(a=JSON.stringify(a)),"string"===typeof a)return window.dispatchEvent(new CustomEvent("lprequeststa

[2017-02-02 22:54] weirdcrap commented on #20
@midwan <subsonic-response xmlns="http://libresonic.org/restapi" status="ok" version="1.13.0">

[2017-02-03 14:37] midwan commented on #20
@weirdcrap
Thanks for that. It confirms my suspicion that it only works with authentication passed in but for some reason, it didn't work correctly earlier for you.

Could you please try with the latest released version (v2.9 currently) and see if that helps?
Make sure to test both the default Token Based authentication and Hex Encoded Password methods, in case one does not work and the other does

[2017-02-06 15:48] weirdcrap commented on #20
I still get the error that "the subsonic server did not respond in a way the plugin expected. Apply settings anyway?" regardless of which authentication method I attempt to use. Do I need to pass the rest api path to the plugin? Currently my settings are:
hostname: libresonic.mydomain.com   Port: 80
Path: /
username: musicbee
password: *********************

I forgot to mention in the OP that I or

[2017-02-06 16:39] midwan commented on #20
Could you please set up a temp account for me to test with?

Kindly send the details at midwan at Gmail dot com.

[2017-02-06 17:33] weirdcrap commented on #20
Credentials sent.

[2017-02-06 21:15] midwan commented on #20
@weirdcrap
Thank you, I managed to recreate the problem with the account you gave me.
The problem is due to the XML format of the response, and specifically while attempting to Deserialize it.

Since the plugin expects a Subsonic API response according to the documentation (see here: http://www.subsonic.org/pages/api.jsp#ping), it expects that the response will have the Root element named "subsoni

[2017-02-06 21:17] midwan commented on #20
@weirdcrap
From what I can see they have a related issue at LibreSonic's project page also: https://github.com/Libresonic/libresonic/issues/82

[2017-02-06 21:22] weirdcrap commented on #20
Thanks for your hard work, glad to know it wasn't just something I was doing wrong.

I will keep an eye on this thread and the one over at Libresonic and hopefully a fix isn't to far down the line. It sounds like they made those changes to differentiate themselves legally from the SubSonic project https://github.com/Libresonic/libresonic/issues/52

[2017-02-06 21:25] midwan commented on #20
@weirdcrap
Yes, and from what I can see they reverted them because it caused several clients to stop working (e.g. DSub), so the current version they have on the repo is using the "subsonic-response". Try upgrading to that and test again, it should work... :)

Meanwhile I'll look into adding libresonic as an alternative.

[2017-02-06 21:27] weirdcrap commented on #20
From what I can see I am using the latest version of LibreSonic available. The Repo lists v6.1 as the latest release and my server is also running on 6.1.
![image](https://cloud.githubusercontent.com/assets/22824785/22667072/bebe8322-ec80-11e6-87ff-6e35ad246599.png)

[2017-02-06 21:28] weirdcrap commented on #20
I could try deleting and re-pulling the docker container.

[2017-02-06 21:28] midwan commented on #20
Hm, maybe they haven't published this version with the fix? Although it was from last May...

[2017-02-06 21:32] weirdcrap commented on #20
I am no expert in GitHub but it looks like it isn't in the stable branch?
https://github.com/Libresonic/libresonic/blob/stable/libresonic-main/src/main/java/org/libresonic/player/controller/JAXBWriter.java#L137

[2017-02-06 21:33] midwan commented on #20
The latest release (https://github.com/Libresonic/libresonic/releases) contains the fix, at least in the source files that I just checked...

[2017-02-06 21:34] weirdcrap commented on #20
Ok, I will delete and recreate the docker and report back.

[2017-02-06 21:39] weirdcrap commented on #20
Ok, re-creating the docker container didn't fix it. Maybe the LinuxServer.io container is pulling from an older copy of the source? I won't pretend to know how docker, containers, github, and all that stuff mesh together lol.

I see this in the Versions history at the bottom of the [container](https://hub.docker.com/r/linuxserver/libresonic/) page:
"29.11.16: Switch to building from release tags f

[2017-02-06 22:02] weirdcrap commented on #20
Doesn't seem to matter which docker container template I choose, all of them have issues with the plugin.

[2017-02-06 22:06] midwan commented on #20
It seems that the problem is not only the XmlRootAttribute, which is fixed in these versions of LibreSonic, but also the Namespace which indicates "http://libresonic.org/restapi" instead of the expected "http://subsonic.org/restapi". I didn't notice that earlier, sorry.

These are attributes in the XML response and they are expected with that exact naming from the receiving end to identify what it

[2017-02-06 23:01] midwan commented on #20
@weirdcrap
OK, I have a fix implemented and it seems to work. I'll prepare a beta binary for you to test with shortly...

[2017-02-06 23:05] #20 closed

[2017-02-06 23:10] midwan commented on #20
@weirdcrap
You can find version v2.10 beta in the Releases (https://github.com/midwan/MB_SubSonic/releases) section, please give it a try and let me know how it works for you.

[2017-02-07 14:24] weirdcrap commented on #20
Works great! Thanks for your hard work. It works with my reverse proxy setup and both Hex Enc and Token authentication are working.

[2017-02-07 17:51] midwan commented on #20
Thanks for confirming!

[2017-02-08 20:10] andocromn opened #22 "Error retrieving response from Subsonic server"
I am getting an error message with 2.9, also tried 2.8 but had different issue where it would skip tracks
the error message box reads as below however this is no log file created
This doesn't seem to be during any action in particular, it just pops up while playing and continues playing normally

Error retrieving response from Subsonic server:
System.Net.WebException: The operation timed out
    a

[2017-02-15 20:46] midwan commented on #22
@andocromn
Sorry for the delay... :)

Strange messages, something is timing out in the background. Is it still scanning the collection from the server? There is a background thread doing that and it will continue until it's done, building the local cache.

Have you tried waiting a bit for the process to complete, or at least have time to cache more? Maybe that will show a different behavior.

[2017-02-16 19:38] andocromn commented on #22
i had not considered cache building.  is there a way i can if it's still doing that?

most recently i have issues where anything i drag into the play queue will not play, but if do 'Play now' it works.  heres this most recent error

`2/16/2017 2:34:10 PM - 10.0.14393.0 - 3.0.6132.15853 - url: Subsonic:\De La Tierra/2016 - II/De La Tierra - 04 - Fome.mp3\De La Tierra\2016 - II\De La Tierra - 04 - F

[2017-02-18 09:45] midwan commented on #19
@andocromn
Do you still get this with the latest version? I have an idea what might be causing it and I was going to rewrite the area that may be responsible for this anyway, but I was curious if it's still happening from time to time.

[2017-02-18 09:46] midwan commented on #17
@nish81
Could you please check if the latest binary helps in this issue or not?
Thanks!

[2017-02-18 09:47] #11 closed

[2017-02-22 16:04] andocromn commented on #19
@midwan to be honest i have been troubleshooting with different versions so much that I can't be sure what versions i was using when i experienced this.  I believe it was MusicBee version 3_0_update2 and v2.2 of the subsonic plugin, from my notes and file history this was what I originally using when I started using MusicBee on Oct-6 2016.  It worked perfectly for a while, then I upgraded to MB up

[2017-02-22 21:16] midwan opened #23 "Exception when dragging track in the Playing tracks"
Whenever a track is dragged from Subsonic into the playing tracks it is unable to play the file added to the queue and produces the message below in the error log:

[code]

[2017-02-22 21:16] midwan commented on #19
@andocromn
OK, let's handle this in a separate issue then - https://github.com/midwan/MB_SubSonic/issues/23

I'll close this one.

[2017-02-22 21:16] #19 closed

[2017-02-27 10:44] midwan commented on #17
@nish81
Ping!

[2017-02-27 10:45] midwan commented on #22
@andocromn
The issue with dragging in the play queue is now handled separately (#23), so let's stick to the original one here.

Do you still get it?

[2017-02-27 12:14] midwan commented on #22
@andocromn
I'm pushing out an update which will display a status update on what the plugin is working on (if anything) on the MusicBee status bar. That should make it easier to see if it's busy doing something or not. ;)

[2017-02-27 13:05] midwan commented on #23
Note: MusicBee seems to be reporting a different (incorrect) URL for the track when it's placed in the Play Queue. The incorrect URL cannot be resolved by Subsonic and thus it reports that the file cannot be found.

Reported to Steven to check if this is a MusicBee bug.

[2017-02-27 15:54] andocromn commented on #23
yes, still occurs.  thanks for the update

[2017-02-28 12:20] midwan commented on #23
Confirmed bug in the plugin, fix will be pushed out in a bit. :)

[2017-02-28 12:23] #23 closed

[2017-03-01 16:53] andocromn commented on #23
just wanted to post a workaround - i figured out that right click and queue next works

[2017-03-01 20:41] midwan commented on #23
@andocromn
Thanks, I have already fixed the source of this also in the master branch. Just waiting for another little thing to get implemented by Steven, then I can release a new version of the binary also. :)

[2017-04-12 18:48] kkuhle opened #24 "Unable to connect to server with nginx authentication configured"
I am trying to get musicbee to connect to my libresonic server with this plugin.  When I hit apply, I get the error message that the server did not respond as expected.

I have tried http://your-server/rest/ping.view?u=joe&p=sesame&v=1.12.0&c=myapp which comes back with "<subsonic-response xmlns="http://libresonic.org/restapi" status="ok" version="1.13.0"/>"

When I click "No" to the save anyway p

[2017-04-12 19:39] kkuhle commented on #24
@weirdcrap I was looking at the enhancement that @midwan fulfilled to make libresonic compatible with his plugin.  I am also using the linuxserver io docker behind nginx.  Perhaps there is something wrong with my config since I'm finding it will work locally.  Do you use a context_path such as libresonic?  Would you be willing to share your config that you're using in your sites file for libresoni

[2017-04-12 19:49] #17 closed

[2017-04-12 20:21] midwan commented on #24
@kkuhle
I've recently installed a libresonic server here, which is also using Docker (on a FreeNAS 10 machine), so I can easily test it locally and see.

The recent update added support for Libresonic responses, so using the latest version should work with it without problems (before that you would get the invalid response from server message).

Could you verify you're using the latest version ple

[2017-04-12 20:33] weirdcrap commented on #24
@kkuhle

This is the relevant section from my nginx reverse proxy configuration:
## LibreSonic Server ##
server {
        listen 80;
        server_name libresonic.yourdomain.com;
         location / {
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_pass      http://xxx.xxx.xxx.xxx:4040;
                proxy_set_header   X-Real-IP $remote_addr;

[2017-04-12 20:36] midwan commented on #24
@weirdcrap Thanks for sharing :)

Meanwhile, I just confirmed that the plugin works with my LibreSonic installation locally. Tomorrow I can try a remote connection also, just in case. If that seems to work as well, and @kkuhle still can't connect, perhaps we can look into the specifics of that environment.

[2017-04-12 20:54] kkuhle commented on #24
@midwan My version says "6.1 – April 7, 2017"

@weirdcrap Thanks.  I am using SSL for libresonic, so perhaps this is causing an issue.  As I said before, locally it is working, but it does http locally.  I will reconfigure nginx to use http to see if it works that way.

[2017-04-12 20:56] midwan commented on #24
@kkuhle
I was referring to the plugin version, it should be at least v2.10:
![image](https://cloud.githubusercontent.com/assets/3877365/24979069/3262db86-1fd3-11e7-9dd0-a29b39f7454a.png)

[2017-04-12 20:59] kkuhle commented on #24
@midwan My mistake.  It should be 2.10 however the plugin does say

![image](https://cloud.githubusercontent.com/assets/11251306/24979150/66800576-1f90-11e7-9505-249dea3cfb23.png)

I downloaded the 2.10 beta version and the file name is MB_SubSonic_v2.10beta.7z

[2017-04-12 21:02] midwan commented on #24
@kkuhle
Ok then - I forgot that the version shows in the latest version only ;)
If you're on v2.10 then it should work.

The only change in v2.11 is the status display (it will show relevant messages while scanning a folder), I was waiting for some feedback from Steven to fix another item before releasing it.

[2017-04-12 21:15] kkuhle commented on #24
@midwan
It is working!  I switched my config to do http rather than https in nginx for libresonic.  So for some reason https is breaking it.  I don't mind using http for this site though.

[2017-04-12 21:17] midwan commented on #24
@kkuhle
Great news! Do you have a valid certificate for HTTPS? If not, maybe that's causing an issue.

Generally the plugin does work with HTTPS connections as well...

[2017-04-12 21:21] midwan commented on #22
@andocromn
I've pushed out a new release that includes the status bar messages, so you can easily see if there's any activity going on.

Please let me know if you still have problems with this version, otherwise we can close this issue.

[2017-04-12 21:23] midwan commented on #15
@user020
I have just pushed out a new version, so we're currently at v2.11. Could you please test with this and let me know if the FLAC playback is still an issue?

[2017-04-12 22:16] kkuhle commented on #24
So I set libresonic up a while back.  My nginx is using a valid ssl certificate from letsencrypt.  It works great on all of my other websites.  With libresonic however it looks like this

[2017-04-12 23:50] weirdcrap commented on #24
I believe what it is doing is hiding all elements that are not "secure" until you actively allow them. So it seems like the issue is that some parts of your libresonic interface are not being transmitted securely and your browser is hiding them.

As for any configuration you may need to make in the docker, you should probably post on the linux.io forum.

[2017-04-13 00:54] kkuhle commented on #24
@weirdcrap

I agree with you that I should talk to linuxserver.io about it. I've just never been too concerned about it since everything I need works fine. Might still ask them about it though.

[2017-04-13 02:13] kkuhle commented on #24
@midwan

So I was thinking about this earlier and just got a chance to test it.  I am using basic auth for my https sites in nginx. I just turned it off for libresonic and it works normally with https.

I think I didn't consider this is because I use dsub on my Android which works fine. What I have done is configured an nginx auth user with the same credentials as my libresonic user and it connect

[2017-04-13 10:12] kdtt87 commented on #15
Sure,

Will look into it at get back to you.

Btw, I've switched from subsonic to madsonic, but the errors/limitations
have ramained the same.

BR
Michael

2017-04-12 23:23 GMT+02:00 Dimitris Panokostas <notifications@github.com>:

[2017-04-13 10:45] kdtt87 commented on #15
Well, I had some success.

FLAC files seems to play fine now.

However:
Sometimes while switching to a new track (flac or mp3) i get the error:
"The source file for track 'TRACK NAME' could not be found", where 'TRACK
NAME' is allways the name of the track, that I last played.

Maybe a madsonic thing?

2017-04-13 12:12 GMT+02:00 Michael Schou <kdtt87@gmail.com>:

[2017-04-13 17:38] andocromn commented on #22
@midwan I don't see the new release... latest I see is v2.11 on Feb 28 which I am using.  Also, do you recommend upgrading to MusicBee 3.0.6276 released on March 10?

Thanks

[2017-04-13 18:08] andocromn commented on #23
tested with v2.11 works great thanks again

[2017-04-13 18:39] midwan commented on #22
@andocromn
Yes, although I published the binary just yesterday, there hasn't been any code changes since Feb 28.
And I always recommend upgrading to the latest MB version, as Steven fixes bugs in updates (some of which are bugs I've reported). ;)

[2017-04-13 19:43] midwan commented on #15
@kdtt87
I have seen this in the past, I don't think it's a Madsonic thing (the protocol used is the same).
If I recall correctly it happened only if you clicked on another track while one was playing already (so it aborted that one), and it was because MusicBee was not handling an Exception that got thrown internally.

I'll see if I can recreate it to make sure.

[2017-04-13 19:44] midwan commented on #15
Meanwhile thought, closing this issue since FLAC support works as expected.

We'll open a new one for the error once it's verified.

[2017-04-13 19:44] #15 closed

[2017-04-13 19:54] kdtt87 commented on #15
It happens to me even if i properly stop/pause the previous track.
Furthermore, it seems to happen to the same tracks every time.

Is there any logs/data I can supply?

2017-04-13 21:43 GMT+02:00 Dimitris Panokostas <notifications@github.com>:

[2017-04-13 19:58] midwan commented on #15
@kdtt87
Yes, the error log can be found from within MB:
Help>>Support>>View Error Log

[2017-04-13 20:06] kdtt87 commented on #15
The log is attached to this email.

I've made you a user on my madsonic aswell

https://kdtt.noip.me:4041
User: midwan
Password: midwan123

I am mainly able to recreate the error with tracks from the band
"Chromatics"

Please tell me if you need anything else.

BR
Michael

2017-04-13 21:58 GMT+02:00 Dimitris Panokostas <notifications@github.com>:

13-04-2017 21:50:14 - 10.0.10240.0 - 3.0.6276.3591

[2017-04-13 20:26] kkuhle opened #25 "Ability to listen to podcasts?"
@midwan

I was wondering if there is a way to listen to podcasts that I have on my libresonic.  If not, would this be possible to implement?

[2017-04-13 20:33] midwan commented on #15
@kdtt87
Thanks!

I've masked out the username/password details as they are publicly available here. :)

[2017-04-13 20:39] kdtt87 commented on #15
Lol, thank you!
Didn't realize i was posting on the forum. Just thought I replied to email.
I have removed the server address aswell :)

[2017-04-17 19:28] midwan commented on #25
@kkuhle
It should be possible, I'll look into it and update this area with news.

[2017-04-18 03:39] kkuhle commented on #25
@midwan
That would be incredible!

[2017-04-18 16:29] kkuhle commented on #24
@midwan

I went ahead and updated the title of this bug since the issue for me seemed to be occurring because nginx auth was set up.  Now that I've got it working with nginx auth turned off, I can live with it.  However it would be nice to use nginx auth again as I prefer having it on as I've configured fail2ban to block IPs and it is unable to do this with the basic auth turned off.

If it would

[2017-04-18 19:12] TheMax2000 opened #26 "Unsupported format or corrupted..."
I have trouble to get the plugin working.
I do see files, but whenever I try to play one, I got the error: "Unable to play this file - it has an unsupported format or is corrupted".
I've tried enabling / disabling transcoding on the server, but it doesn't seem to change anything.
When trying to enable transcoding from the plugin, it doesn't seem to keep the setting.
Any idea of what's going wrong?

[2017-04-18 19:37] TheMax2000 commented on #26
Ok, issue resolved... just updated to 2.11 (!!)
Maybe you should update this page --> http://musicbee.wikia.com/wiki/Subsonic_Client
(I'll let you close the issue once the page is updated ;) )

[2017-04-18 22:07] midwan commented on #26
@TheMax2000
I've updated the wikia page to link to the latest version always... :)

[2017-04-18 22:07] #26 closed

[2017-04-18 22:25] midwan commented on #22
@andocromn
Did you get a chance to test this out with the latest version?
Any progress regarding this issue please?

[2017-04-19 19:16] andocromn commented on #22
@midwan I have been using the 2.11 version.  I was ready to say the problem was resolved, however it just popped up again.  same message, however I am now wondering if the timeout is really just an HTTP timeout.  I don't see any way of changing the timeout value in musicbee though

[2017-04-19 19:59] midwan commented on #22
@andocromn
There isn't such an option available from the interface, since I never thought the value would need to be changed.

I could compile a version with an increased timeout value to see if that helps in your situation, if you'd like?

[2017-04-20 17:43] andocromn commented on #22
yeah, i could try that if you can compile it.  its very hard to test, cause it's not consistent or reproducible.  it might help if it gave more info in the error about what it was doing.  The really odd thing is that the playback seems unaffected.

The only other thing that crossed my mind is that this is occurring on my computer at work, and the firewall is set to a 15 minute TCP timeout.  Howeve

[2017-04-20 18:00] andocromn commented on #22
I may have spoken too soon about the inconsistency.  yesterday and today, i got the message after putting on a long playlist... 50 tracks and it was about 2 minutes into the playback.  not sure if that tells you anything useful

[2017-05-01 02:56] jomant commented on #24
I have a valid HTTPS certificate, runs website, TeamSpeak3 Subsonic Server (freeNAS), Nextcloud, Space Engineers Servers. Got 2 Dell Power Edge and a Intel....whatever 12 Bay NAS. I can access the Subsonic Server remotely via SoundWave, E Sub and the Web player without any issues.  I changed the Port from 80 to 443 (for HTTPS) still nothing. The database is approx. 120 GB big..... any guess how lo

[2017-05-01 11:31] midwan commented on #24
@jomant
The latest version of the plugin displays a status update during scanning in MusicBee (at the bottom left)

[2017-10-01 16:31] claireshway commented on #21
Sorry to bother, but I'm having an identical issue to this one. I'm using version 2.11 of the plugin (and I've also tried version 2.9) and version 3.1.6466 of MusicBee (but I've also tried 3.0). I get the "ok" response when I go to http://your-server/rest/ping.view?u=joe&p=sesame&v=1.12.0&c=myapp

(I'm also not the most computer literate, so left pretty much everything on its default settings, tho

[2017-10-02 12:33] midwan commented on #21
@claireshway
No bother at all, the purpose is to fix problems where we can so that everyone can enjoy the experience!

Do you have the possibility to open up some way of reaching the server from the outside, so I can try to connect and debug from here? It doesn't have to be an admin account obviously, something that has access to the server and perhaps a track or two, so we can test the functional

[2017-10-02 20:51] claireshway commented on #21
Emailed!

[2017-10-02 20:52] claireshway commented on #21
@midwan Emailed!

[2017-10-06 19:51] andocromn opened #27 "Not showing playlists"
I just setup Musicbee and subsonic on a new PC.  For some reason it is not seeing any of the playlists from the subsonic server.  Otherwise seems to be working normally

[2017-10-06 20:46] andocromn commented on #27
Did some more testing.  this problem exists in musicbee version 3.1.644 but works fine if I revert musicbee to 3.0.6132.  looks like something must have changed between 3.0 and 3.1.  I have no problem using 3.0 but probably something to look into for the next release

[2017-10-07 07:48] midwan commented on #27
@andocromn
Thanks for letting me know...

I'll take a look as soon as I can and get back to you.

[2017-10-17 17:06] midwan commented on #21
Hi @claireshway
I just tested it today, using the details you e-mailed me (thanks!) and the latest version of the plugin, using the Portable version of MusicBee (also latest version).

It seems to work for me... :)

![image](https://user-images.githubusercontent.com/3877365/31678392-537a7c6e-b36e-11e7-897f-e09fb5a26658.png)

[2017-12-30 13:36] zeknurn opened #28 "Server did not respond as expected with Airsonic."
I'm running Airsonic in a docker and from what I can tell the Subsonic Client should work just fine.  But I'm getting "The Subsonic server did not respond as expected, do you want to save anyway?"

Latest version of MusicBee on Windows, tried both the standalone installer and the Windows Store version.
Protocol HTTP
Local IP and the correct port.
Default path
Tried both Auth
Username and password

[2017-12-30 16:42] midwan commented on #28
@zeknurn
The exception you posted above mentions that it can't find/open a .dll (RestSharp.dll) that is supposed to be bundled together with the plugin, did you place it in the same folder together?

[2017-12-30 19:17] zeknurn commented on #28
@midwan Yeah, it looks that was the problem. I did another reinstall of MusicBee and extracted a new set of plugin files this time in \AppData\Roaming\MusicBee\Plugins just to try to see if it would work and it did.

I have also since then tried moving the plugin files back to Program Files (x86)\MusicBee\Plugins and it now works there too.

I don't know what caused it but you can close and delete

[2017-12-31 05:37] midwan commented on #28
@zeknurn Thanks for confirming! :)

[2017-12-31 05:37] #28 closed

[2018-01-25 17:47] Phrenzy opened #29 "I got a hint that it was working, and then nothing."
I'm running subsonic 6.1.3 on Ubuntu 16.04 and openjdk-8-jre. I'm running MusicBee 3.1.6590 and MB_SubSonic 2.11 on Windows 10. I can connect to SubSonic using Android and iOS clients as well as Jamstash on my Win10 machine.

I have tried connecting using the server's IP as well as the local DNS name and the external DNS name. (I have an internal DNS domain.) I have tried using HTTP and HTTPS usin

[2018-01-26 21:54] midwan commented on #29
@Phrenzy
Thanks for the report.
Are you testing this locally, as in your MusicBee installation is in the same LAN as your Subsonic server?

[2018-01-31 23:50] Phrenzy commented on #29
Yes.

[2018-02-27 20:40] Koenvh1 opened #30 "Songs displayed as folders"
I noticed that songs themselves are also displayed as subfolders for an album. An example from the Subsonic demo server can be seen here:
![image](https://user-images.githubusercontent.com/5168825/36753443-74425df8-1c06-11e8-90f3-35218a82d1ab.png)

To Turn Around is a song that belongs to the album Plastic City, but also shows up as folder in the library. Could it be that it checks for the existen

[2018-02-27 22:40] midwan commented on #30
@Koenvh1
Thanks for reporting this. I'll try to recreate it now that my server is back online (hasn't been working for quite a while) and get back to you.

[2018-02-28 16:50] Koenvh1 commented on #30
You seem to miss an isDir check in the GetFolders function:
https://github.com/midwan/MB_SubSonic/blob/master/MB_SubSonic/Subsonic.cs#L307

With that in place it does work as expected:
![afbeelding](https://user-images.githubusercontent.com/5168825/36800053-dcbf98c0-1cae-11e8-904b-0b1b16ae5b89.png)

[2018-02-28 19:18] midwan commented on #30
Thanks for the PR, merged! :)

I'll get a new release prepared as soon as I check everything.

[2018-02-28 19:18] #30 closed

[2018-03-01 20:19] Phrenzy commented on #29
Never mind. Thanks anyway.

[2018-03-01 22:17] midwan commented on #29
@Phrenzy
Did you get it resolved?
I couldn't test this yet because my server was offline until very recently, so I was planning to do more this weekend actually...

[2018-03-01 23:12] Phrenzy commented on #29
No.

Dave Ballard

________________________________
From: Dimitris Panokostas <notifications@github.com>
Sent: Thursday, March 1, 2018 2:17:16 PM
To: midwan/MB_SubSonic
Cc: Dave Ballard; Mention
Subject: Re: [midwan/MB_SubSonic] I got a hint that it was working, and then nothing. (#29)

@Phrenzy<https://github.com/phrenzy>
Did you get it resolved?
I couldn't test this yet because my server was off

[2018-03-06 00:52] Phrenzy commented on #29
Thank you for the help. I got it working. I may have been expecting a more direct indication that MusicBee had seen my songs.

[2018-03-06 00:53] #29 closed

[2018-04-03 19:04] st4rts0mething opened #32 "'Transcode to MP3' tickbox not saving"
Auto-explanatory. I try checking that box so I save a bit of bandwidth but the setting apparently can't be saved / applied. Tried using a specific mp3-limited user but for some reason it still streams flac. Am I doing anything wrong? Trying to have musicbee + this as my daily driver, so far so good for streaming flacs.

[2018-04-04 12:07] midwan commented on #32
@st4rts0mething
Thanks for the report, I'll start by trying to recreate this... Perhaps I missed something and it doesn't save that option ;)

[2018-04-04 19:28] #32 closed

[2018-04-09 11:04] krilok opened #33 "'Music' directory on Synology NAS access error"
I have installed and configured both the app on my NAS and the plugin on Musicbee. It's working fine, and the Subsonic folder tree shows all the music folders on my NAS in this order: Subsonic / Music / and then the rest of music folders.

I can individually play tracks without problem, but if I want to simply randomise or shuffle tracks from all folders, right clicking on the 'Subsonic' parent fo

[2018-04-10 09:52] midwan commented on #33
@krilok
So this pops up as soon as you right click on the Music subfolder, or after you select something from the popup menu?

[2018-04-10 10:04] krilok commented on #33
Hi, Midwan. Firstly, thanks for replying...

This warning pops up if I **LEFT** click on the 'Music' folder. If I right click on it instead, I get the MusicBee popup menu, but whatever I may select has no effect/action...

[2018-04-10 17:53] xerg0n opened #34 ""Directory not found error" when selecting root siblings. Root does not display anything"
Subsonic Version: 6.0 (build a7857c)
SubSonic Plugin version: 2.13
MusicBee: 3.1.6590

Hi,
I have a problem when selecting one of the root folders, the main root folder simply shows no infromation, if I select one of the folders that are direct childs of the main node I get the "Directory not found error"

I attached some screenshots, if I can supply any more information ot help to fix this proble

[2018-04-10 18:28] midwan commented on #33
@krilok
Interesting... Does it also happen if you left click on a subfolder below Music, like a specific album from what I see in the screenshot? Or do you get the files showing then?

[2018-04-10 21:40] krilok commented on #33
No, it only happens on the Music folder... If I left click on any of the folders below, there's no error warnings, the tracks in that particular folder are displayed and everything can be played fine. If I right click in any of those folders, the MB options work, too...

[2018-04-11 19:40] midwan commented on #34
@xerg0n
Try uninstalling it then, from within MusicBee's Plugins page. An Uninstall will delete any cache files generated as part of that process.

Then try to install it again and see if the problem remains.

If it does remain, we might need to troubleshoot this on your server directly... Is it accessible from outside your LAN?

[2018-04-12 13:54] ajmcateer opened #36 "Configuration not being saved"
I have a fresh install of the latest MusicBee client(3.1.6590), and a fresh install of the plugin. Whenever I try to configure it against my airsonic server. It doesn't remember the settings. I fill it out and hit save, then it tries to connect to localhost everytime. It never even tries the settings I entered. If I open settings again it will be back to the default.

[2018-04-12 14:07] jalabulajunx commented on #36
Hello, @ajmcateer -

I have been running the above version of MusicBee for a while on an Airsonic server, and it remembers my settings every time. What plugin version are you using? Is it v2.14? If so, can you please try with v2.13 and report back if the settings are saved?

Do you see an error while saving the settings? The settings are saved in a file under AppData folder.

[2018-04-12 15:49] midwan commented on #36
@ajmcateer
Have you tried clicking on Apply first? Do you get an error message after that?
Apply will try to "ping" the server first and show a status message in MusicBee's status bar with the result (e.g. Subsonic server found). If it fails to connect, it will also mention that with a message box.

If it works with apply, clicking Save will also re-run those tests and finally save the settings -

[2018-04-12 15:50] midwan commented on #34
@xerg0n
Did you have a chance to try my suggestion above perhaps?

[2018-04-12 16:40] krilok commented on #33
Yes, it is indeed accessible. I use an app called BubbleUPNP on my Android phone to access the music on the NAS over the Internet. The server settings on this app are exactly the same as configured on your plugin, only set to a different port...

[2018-04-14 16:14] xerg0n commented on #34
@midwan
Hi,
please excuse the long delay and thank you for beeing so helpful.
I tried the uninstalling with no effect. If you would like to check out my configuration, I can send you a login to my server. Do you have a mail or anything where I can send it to?

[2018-04-14 18:44] midwan commented on #34
@xerg0n
Yes, please create a test account for me and send me the details (hostname + path, port, username, password) at midwan at gmail dot com

[2018-04-16 12:29] krilok commented on #33
Forgot to mention; I've also configured the 'Ultrasonic' app on my phone with the same settings and it works fine, too...

[2018-04-16 18:03] midwan commented on #34
@xerg0n
Thanks for the details, I was able to connect and try out a few things...

I'll send you a mail to avoid publishing sensitive account info here. ;)

[2018-04-18 12:55] drsgoodall commented on #36
I've have the same issue with a new install (first time installing musicbee). v2.14 of the plugin does not save settings (either via save or apply). The connection error message always says localhost even if I have pressed "apply" and have a different host name in the settings. Replacing with v2.13 worked immediately.

[2018-04-18 13:32] jalabulajunx commented on #36
@drsgoodall - Before I look further into this, can you please let me know if you tested the v2.13 as a fresh install as well? And, if you now replace v2.13 with v2.14 plugin - do you still see the same problem?

[2018-04-18 15:25] drsgoodall commented on #36
I just copied the 2.13 version in place - existing settings etc left intact.
Updating in place to the v2.14 plugin - with the modified settings from v2.13  - it now seems to work. I.e. I can change the host name and it saves, updates and complains the server is not reachable. I can set it back to the working config too.

[2018-04-23 09:49] chaddoncooper commented on #36
I think you need to select a transcode option, you can untick it afterwards, seems to have a null reference since adding the ability to change the transcoding bitrate otherwise.

[2018-04-24 19:12] midwan commented on #27
This was a bug in MusicBee, which a new binary fixes.

[2018-04-24 19:12] #27 closed

[2018-04-24 19:16] jalabulajunx commented on #27
@andocromn - Please check this thread for more information - https://getmusicbee.com/forum/index.php?topic=3620.msg144745#msg144745

[2018-04-24 19:38] midwan commented on #36
This should be fixed with v2.15 now...

[2018-04-24 19:38] #36 closed

[2018-05-02 16:45] ProJaCore opened #40 "Never loading Songs"
I just configured all settings correctly, and my musicbee client also tells me: Detected a subsonic server but even if i wait 3 hours, nothing is happening.

![grafik](https://user-images.githubusercontent.com/12472791/39536972-7393efc0-4e38-11e8-8a0f-e039927d16e0.png)

subsonic:  6.1.3 (build e408c9) – October 31, 2017
plugin: v2.15
musicbee: 3.1.6590

[2018-05-02 16:56] jalabulajunx commented on #40
@ProJaCore - Try clicking on in the "Musik" header, and you should see a tree on the left. When I configured MusicBee for the first time to use the plugin, I was in a similar situation and finally figured out that clicking on the header shows the tree.

![image](https://user-images.githubusercontent.com/25166784/39537619-2615f868-4e08-11e8-828e-e780773c8e66.png)

[2018-06-01 03:04] Cheeser12 opened #42 "Disc Number not coming over from Subsonic"
I'm having an issue where the disc numbers are not coming over from Subsonic. They are definitely valid tags in the files, as foobar2000 and the main Subsonic instance are processing them and sorting tracks correctly. Musicbee also picks them up when I play the music from my local directory.

I'm using v2.15 of the plugin, 3.1.6590 of MusicBee, and 6.1.3 of Subsonic

[2018-06-01 14:15] jalabulajunx commented on #42
@Cheeser12 - I looked at the api documentation and also the dev forums of subsonic, and they do send the discnumber. Let me take a look at it over the weekend and get back.

[2018-07-02 15:05] Sealcove opened #43 "No Password Field for Subsonic Plugin"
Greetings from Canada.

Hope you can assist with this recurring issue. I have installed, reinstalled the Subsonic Plugin for Music Bee and despite my best efforts, there is never any  password filed. Username is there but no/ no place to input the password. Any thoughts or suggestions would be greatly appreciated.

Thank you.

Scott

[2018-07-02 16:51] midwan commented on #43
@Sealcove
You mean the field doesn't show on the GUI?

[2018-07-02 19:13] Sealcove commented on #43
Thanks for following up.  Yes, there is no field for PW in the GUI.

S

On Mon, Jul 2, 2018 at 12:51 PM Dimitris Panokostas <
notifications@github.com> wrote:

[2018-07-02 19:47] midwan commented on #43
@Sealcove
I cannot recreate this, and nobody else has reported something similar so far.
- What version of MusicBee are you running?
- How did you install it (meaning, did you get the installer, portable version, or from the Windows 10 Store)?
- What version of the plugin are you using?
- How did you install it? There's an option from within MusicBee (in Plugins, click on "Add Plugin") or you can

[2018-07-02 20:00] Sealcove commented on #43
- What version of MusicBee are you running?
   -
   - How did you install it (meaning, did you get the installer, portable
   version, or from the Windows 10 Store)?
   - What version of the plugin are you using?
   - How did you install it? There's an option from within MusicBee (in
   Plugins, click on "Add Plugin") or you can manually copy the file in the
   proper folder.
   - What screen reso

[2018-07-02 20:03] Sealcove commented on #43
- What version of MusicBee are you running?
   - 3.16.590
   - How did you install it (meaning, did you get the installer, portable
   version, or from the Windows 10 Store)?
   - Installer
   - What version of the plugin are you using?
   - latest v2.15.7z
   - How did you install it? There's an option from within MusicBee (in
   Plugins, click on "Add Plugin") or you can manually copy the file i

[2018-07-03 09:05] midwan commented on #43
@Sealcove
What I meant by "high-dpi" modes is if you're using any interface scaling options in Windows (e.g. scaling to more than 100% is often used on laptop screens with high resolutions, to make things readable).

Does anything else in the MusicBee GUI look funny? E.g. fields overlapping?

Could you provide a screenshot of what you see?

[2018-07-05 09:49] sIRwa2 commented on #34
HI Im running 2.15 is this issue still open? because i'm experiencing them too.

[2018-07-05 12:28] midwan commented on #34
@sIRwa2
While testing this with @xerg0n , we found out that the IDs that the server gave for the top-level indexes seemed to be incorrect. It might be an issue in Subsonic itself (since that's what gives the Indexes/IDs), but I'm not 100% sure.

I also found out that browsing by Index (Artist) seems to work normally, which could be a work-around to this problem as well.

I will look into adding th

[2018-07-05 12:39] Sealcove commented on #43
Hi Dimitris,

Screenshot attached.  No high_dpi. Hope this helps. Thanks

Scott

On Tue, Jul 3, 2018 at 5:06 AM Dimitris Panokostas <notifications@github.com>
wrote:

[2018-07-05 12:42] midwan commented on #43
Hm, the screenshot didn't come through I'm afraid...

[2018-07-05 12:44] Sealcove commented on #43
Hmm..just checked .png file was attached. I will resend.

Scott

On Thu, Jul 5, 2018 at 8:42 AM Dimitris Panokostas <notifications@github.com>
wrote:

[2018-07-05 13:09] Sealcove commented on #43
trying again .jpeg

Scott

On Thu, Jul 5, 2018 at 8:42 AM Dimitris Panokostas <notifications@github.com>
wrote:

[2018-07-05 13:12] midwan commented on #43
Nope, sorry.
Try replying on the Github page directly and attaching the file there, maybe it doesn't work properly if you're just replying to the e-mail notification?

[2018-07-05 18:32] midwan commented on #34
For the record, it does not happen in my personal installation - I use Airsonic (but also tried LibreSonic and Madsonic before).

[2018-07-06 15:35] Sealcove commented on #43
Done and thanks

S

On Thu, Jul 5, 2018 at 9:12 AM Dimitris Panokostas <notifications@github.com>
wrote:

[2018-07-06 16:24] midwan commented on #43
@Sealcove
Thanks!
The screenshot looks a bit strange to me, because it also shows a different list of plugins than the default. Did you install other plugins yourself?

For reference, here's how my installation looks like with only MB_Subsonic added:
![image](https://user-images.githubusercontent.com/3877365/42389666-babed2d6-8149-11e8-8f9c-cc908f491ea3.png)

Notice the "theater mode" options righ

[2018-07-07 14:54] Sealcove commented on #43
Thanks so much for assisting. Yup I have Android remote for MB. Works well.
Perhaps it is causing the issue. Uninstalled that plugin, problem persists.
So did a fresh install of MB from installer...installed your plugin and
voila, all is well and Subsonic accessing and working. Then reinstalled the
MB remote plugin and guess what, your PW field disappeared, lol. So
methinks we found the culprit.

[2018-07-07 14:58] midwan commented on #43
@Sealcove
Aha, great!
It shouldn't happen of course, but it seems to be related to that plugin?
I've followed the guidelines for positioning the preferences GUI elements, and it shouldn't interfere with other plugins. But we don't know what that other plugin has there, if it's doing something "funny" for example...

If you know the author of that plugin, I suggest you get in touch with them to let

[2018-07-07 14:58] #43 closed

[2018-08-06 17:47] midwan commented on #22
@andocromn
I've just pushed v2.20: https://github.com/midwan/MB_SubSonic/releases/tag/v2.20

Please give it a try with this version and let me know if the problem persists?
I've added a new option to control if you want the Local Cache or not, or delete it as well. Try experimenting with that as well.

[2018-08-12 17:22] rogerizo opened #44 "Is it possible for this to save ratings?"
Hi this is working fine but it wont save my ratings when i close and reopen musicbee is it possible to fix that please?

Thanks

[2018-08-13 10:45] midwan commented on #44
Thanks for the suggestion.
I don't believe we're currently saving ratings, but I can look into that as a new feature.

[2018-08-16 17:08] maria95posteonet commented on #22
Local cache GREAT idea - I have a remote Subsonic library and would like EVERYTHING except the actual audio file cached on the local PC where MusicBee is installed - metadata, thumbnails etc.

[2018-08-21 11:03] maria95posteonet commented on #22
During repeated attempted library scans I'm getting this error message like the guy above, server timeout basically:

Error retrieving response from Subsonic server:
System.Net.WebException: The operation timed out
at System.Net.HttpWebRequest.GetResponse()
at RestSharp.Http.GetRawResponse(HttpWebRequest request)
at RestSharp.Http.GetResponse(HttpWebRequest request)

I've turned everything else of

[2018-08-31 00:12] lunik1 opened #45 "No tracks listed from supysonic server"
Hi. I am using supysonic server but this plugin does not seem to support it. The server responds to ping as expected but no tracks are listed under the server in musicbee.

Supysonic targets version 1.8 of the Subsonic API, which as far as I understand is lower than the version targeted by this plugin. I have tried switching to a hex-encoded password which fixed a missing parameter error but no lu

[2018-09-17 17:09] midwan commented on #45
The minimum version of the API supported by the plugin is v1.13, so it might be due to that.
I'm afraid there's no easy way around this, as supporting older versions would require considerable effort with the current implementation (several things have changed since 1.8).

Is there a reason you can't use another Subsonic-compatible server? E.g. AirSonic?

[2018-09-17 18:28] lunik1 commented on #45
supysonic is much lighter on resources, which helps since I'm running on a pi, but since it's not likely to be supported I'll look into it. Thanks!

[2018-09-17 18:30] #45 closed

[2018-09-17 18:30] jalabulajunx commented on #45
Airsonic should work on pi. I have been running Airsonic on pi3 for the last one year.

[2018-11-11 10:00] midwan commented on #34
@h3man1
The Cache file is only generated after a successful scan - if that never happened, there won't be one.

I'm currently in the middle of a few other projects, so it will take me a while before I can look into this again. But I'll get back to you once I can, and see if there's anything else we can do to figure this out.

[2018-11-11 13:06] h3man1 commented on #34
thanks midwan, appreciate it. I understand time is limited and precious.

[2018-11-14 12:19] calandryll opened #46 "Folder Listing"
It appears with the most recent update to Subsonic (6.1.4) has broken how folders are displayed in MusicBee.  It looks like displayed folders in MB are based on Artists instead of folder name as it was in 6.1.3.  For example, I have a folder called Various Artists that is now spread throughout and none of the files in those folders is playable via MB.

![error](https://user-images.githubuserconten

[2018-11-15 10:45] midwan commented on #46
@calandryll
Thanks for reporting this. I don't have much free time at the moment, so it will take me a while to get into it, but I'll update this Issue with more news once I do.

[2018-11-15 13:36] calandryll commented on #46
Thanks for looking into it.  It seems to be some kind of maintenance update to Subsonic.  At this point I may migrate to Airsonic.

[2018-11-15 19:43] andocromn commented on #46
its probably also worth noting that I'm behind on MB and the plugin versions
MB v 3.0.6335
Plugin v 2.11.0.0
I'll test on current and post my results

[2018-12-19 12:42] josepher44 commented on #44
Strongly seconding this, ratings not getting pushed back to the server is the biggest missing feature preventing me from adopting this as my primary music setup.

[2019-02-15 11:41] midwan commented on #18
Coming back to this after a long time (sorry!)... :)

I know how to implement this from Subsonic's side, but I don't have enough documentation from MusicBee's side. I've asked Steven on the forum there, to see if he can provide some more information.

[2019-02-15 11:42] midwan commented on #44
We need some documentation from MusicBee's side to implement this, so I've asked Steven for that:
https://getmusicbee.com/forum/index.php?topic=1972.msg155207#msg155207

[2019-02-15 12:05] midwan commented on #46
@calandryll
I'm trying to recreate this with the latest Subsonic server (I can't so far).
Could you give me some more details on those tracks?

Is the Various Artists an ID3Tag, and if so which one? Artist, Album artist, or other?
And I assume they are located in different folders, and only the Artist tag matches between them?

[2019-02-15 12:19] midwan commented on #42
I think we don't map that tag, let me see if I can fix that.

[2019-02-15 12:30] calandryll commented on #46
The way I have Various Artists setup, usually for soundtracks, etc. Is a folder called Various Artists and then in the tags under artist will be the artist and under artist album is usually various artists.

I moved away from Subsonic to Airsonic pretty much right after this error and haven't had any issues yet.

[2019-02-15 12:45] #42 closed

[2019-02-15 12:45] midwan commented on #42
This is now implemented, it will be part of the next release.

[2019-02-15 12:46] midwan commented on #46
It looks like it's working in the current Subsonic version also, so I'm closing this unless we discover that's not the case.

[2019-02-15 12:46] #46 closed

[2019-02-15 13:34] midwan commented on #44
The "Star" tag is now mapped from SubSonic to MusicBee's "Love" tag, so it will show up correctly.
There's still no support for saving rating back into Subsonic.

[2019-02-15 13:40] midwan commented on #34
I'm afraid I still can't recreate this in my environment.

I tested a fresh installation of Subsonic with MusicBee (both in their latest versions) and played around with a folder structure to see if I can recreate it. It seems to work normally for me.

If anyone is still facing this problem, please let me know? It would be helpful if you could create a temporary account for me if possible, so I ca

[2019-02-15 13:53] midwan commented on #22
@maria95posteonet
Sorry this took a while...

One of the available options in the plugin, is to "Cache server indexes" or not (it's a checkbox in the new settings window). This used to be always ON by default, but now you have the option to disable it.

Try testing with that option OFF, to see if it makes any difference? Basically it will not use any cached indexes, and will hit the server directl

[2019-02-15 14:15] midwan commented on #25
We need some documentation from MusicBee's side to implement this, so I've asked Steven for that:
https://getmusicbee.com/forum/index.php?topic=1972.msg155207#msg155207

[2019-02-18 19:25] #44 closed

[2019-02-18 19:26] midwan commented on #44
We now have support for saving the Love/Star status and Rating of tracks, back to the SubSonic server.
However, I couldn't see where the track Rating shows in Subsonic? Only Album rating seems to be visible there...

[2019-02-18 19:30] midwan commented on #25
@kkuhle
Steven will be looking into this over the next few weeks, so we'll have to wait until there's support for it through MusicBee's API.

[2019-02-18 19:30] midwan commented on #18
@andocromn
Steven will be looking into this over the next few weeks, so we'll have to wait until there's support for it through MusicBee's API.

[2019-02-27 22:07] midwan commented on #25
@kkuhle
Unfortunately it looks like this won't be happening, as Steven is not willing to implement the necessary support for it.
https://getmusicbee.com/forum/index.php?topic=1972.285

Closing this for now, unless something changes in the future.

[2019-02-27 22:07] #25 closed

[2019-03-04 10:24] midwan commented on #18
@andocromn
This is now implemented in **v2.26** with 5bb68ab62d222abca281bdb7831bbf29bc9b4e3e

**Notes:**
- It requires MusicBee v3.3 or greater (Steven provided an early build on the thread I linked above, but it should be available for all soon).
- For now, there's support for Creating a new Playlist and Deleting an existing Playlist. Support for Updating playlist contents will follow in a futur

[2019-03-04 10:24] #18 closed

[2019-03-17 22:53] andocromn commented on #18
@midwan
Thank you for the continued work on this project.  I've installed the updated versions however I'm not seeing the feature.  How does it work?

[2019-03-18 08:48] midwan commented on #18
@andocromn
The idea is that you create a new playlist in MusicBee, and that gets saved in Subsonic as well. And if you delete one from MusicBee, it also gets deleted from Subsonic.

But this will work only with v3.3 of MusicBee as mentioned above, as previous versions didn't have the necessary hooks in the API.

[2019-03-18 12:04] h3man1 commented on #34
Still having issues. Sent you an email.

[2019-03-18 19:21] midwan commented on #34
@h3man1
Thanks, I'll try to look into this over the next few days and get back.

[2019-03-28 03:41] andocromn commented on #18
OK that time it worked.  I was able to save the playlist in Musicbee and the playlist was created on the Subsonic server.  It is not displayed under Subsonic in Musicbee, but I do see it in the web ui so I'm guessing this is just a matter of refresh so nbd.

The delete functionality works too, although it feels a bit wrinkly to delete from the Musicbee list and have it delete in Subsonic.  as oppo

[2019-04-01 11:21] midwan commented on #34
@h3man1
This looks a bit weird, I'm not sure if it's a bug in Airsonic?

In your installation, you have 2 available Music Folders (from the `getMusicFolders` API call), with the following IDs:

`- musicFolder id="0" name="Musik"`
`- musicFolder id="2" name="Playlists"`

So far, so good. But when we attempt to get the contents of "Musik" with its ID, we get back an error:
API call: `getMusicDirecto

[2019-04-01 11:39] midwan opened #47 "Implement Browsing by Tags"
Implement browsing by Tags, instead of only Folders.
This should also fix #34 as a workaround.

[2019-04-02 06:57] midwan commented on #18
@andocromn
The playlists are tracked by using their IDs, which is stored in one of the Custom fields in MusicBee.
We could change the functionality of Delete, but then you wouldn't have any way of deleting a playlist from Subsonic, without going there and doing so manually... I thought it would make more sense to be able to delete a playlist you created, in both places.

[2019-04-02 14:36] RudyAlbertoAcostaMarmalade commented on #34
I am also experiencing this issue.

[2019-04-08 17:00] andocromn commented on #18
Sounds good to me.  its great that MusicBee has those custom fields,  thanks again

[2019-04-26 20:56] carlreinke opened #48 "Conflating "musicFolderId" and "id""
MB_SubSonic appears to conflate music folder IDs and directory IDs.  I believe the assumption that these IDs are interchangeable holds for the official Subsonic server, but the Subsonic API doesn't require it.

Specifically, the IDs returned from `getMusicFolders` should not be passed into the `id` argument of `getMusicDirectory`.  (The API documentation for `id` says "A string which uniquely iden

[2019-04-27 19:19] midwan commented on #48
@carlreinke
Thanks for the input! And nice work there with Hypersonic, I'll give it a closer look a bit later. ;)
I think you might be right, I'll have to revisit this area.

[2019-04-28 16:06] ArnaudB88 opened #49 "Retrieving song ratings don't work"
When opening a subsonic/airsonic server and select a playlist, the song ratings are not loaded.
Saving a rating works correctly. I verified this by setting song ratings in MusicBee and refreshing the playlist in my Dsub Android app.
When changing subsonic playlists, the ratings are also lost.

[2019-06-07 03:39] tesshucom commented on #48
I also agree with carl reinecke.
The starting point of processing should be getIndexes.

It is desirable to arrange at the view of GUI in the order of Indexes> Index> Artist.
(It does not matter if it is hierarchical display or Artist's deploy)
Because the Indexes, Index, and Artist data structures are ordered, it is desirable to have logic that can reproduce the order when expanded.
This has a ma

[2019-06-07 03:51] tesshucom commented on #34
The data specifications for Subsonic and Airsonic are slightly different.
The value of parent is different when directory is the top level of tree.
If the current implementation is not related to this fact, this phenomenon may be related to #48.

[2019-06-07 16:28] tesshucom opened #50 "Are you planning to support API search?"
#### problem
At the moment, the search seems to refer to the local object instead of the API search method.

#### solution
The preferred solution is to search using the Subsonic API's search method rather than referencing a local object.
(In other words ... search is to have a plug-in mechanism design. Design changes of the main program will be required)

In essence, searching for objects on a Sub

[2019-06-07 17:43] midwan commented on #50
@tesshucom
To implement this, we'd have to go through the Interface that MusicBee provides. I haven't seen support for such a function in there so far, but I can ask Steven just in case.

I believe this might affect how MusicBee functions internally also, as it seems to be oriented towards 1) building a local database for the media files found and 2) doing the searches locally in there afterwards.

[2019-06-07 17:51] midwan commented on #49
@ArnaudB88
I think there was some limitation that caused this, but I have to refresh my memory.
Let me look into it again and get back to you, if it's possible to do then I might have missed it and we'll get it sorted. :)

[2019-06-07 18:02] tesshucom commented on #50
Thank you for your response.

You're right. And it is imagined to be painful.
Heavy Subsonic users may have similar naive questions as I do.
So please consider this as a light question rather than a strong demand.

[2019-06-07 23:44] tesshucom commented on #47
I'm also committed to Airsonic, and I'm familiar with Subsonic's API and implementation.

Care must be taken to completely replace the ``File structure`` and ``ID3 tags``.
Many Subsonic clients are based on File structure because the situation where the file can not be found is avoided.

If you intend to take a general approach...
 - Change the current directory list to getIndexes starting point.

[2019-06-08 10:14] midwan commented on #49
@ArnaudB88
There seems to be a bug in the MusicBee interface, which doesn't really respect the Rating you set on a track. It always reports back a rating of "0" in that event, so even though it shows the right Rating on screen, only "0" (=no rating) is sent to the Server. Which of course means that when you refresh the list of tracks, the rating doesn't exist anymore.

I'll report this to Steven o

[2019-06-08 10:20] midwan commented on #49
@ArnaudB88
I spoke a little too soon regarding the "Love" status. It does work for Setting it to the server, and it does retrieve it correctly, but only after restarting MusicBee. It seems that the call to "GetTags" only happens initially, but not when you Refresh.

I'll look into that in the meantime.

[2019-06-08 11:18] midwan commented on #49
@ArnaudB88 The refresh problem is fixed now, so if you click on a folder you will get the updated files it contains (including changes in the Rating/Star setting).
The Rating problem remains however, and it's coming from MusicBee from what I can see. I've reported it to Steven.

[2019-06-08 11:24] midwan commented on #49
@ArnaudB88
Published v2.28 with the above bugfix, feel free to test it and report back:
https://github.com/midwan/MB_SubSonic/releases/latest

[2019-06-08 15:41] itchykill commented on #34
Same issue here.

"Directory not found" when trying to get data from the Root Dir while using MusicBee (and Subsonic).

Reinstalling the plugin does nothing.

It finds absolutely zero of the library.

[2019-06-08 15:42] itchykill commented on #34
Also, it won't save the cache. Filename was not found in the path.

[2019-06-10 07:19] midwan commented on #49
The bug in MB, which always seems to return "0" for Ratings, has been reported to Steven here: https://getmusicbee.com/forum/index.php?topic=1972.new;topicseen

However, I'm not sure when/if this will be fixed. Until it is, there's nothing I can do from my side regarding this case. :-/

[2019-06-10 07:22] #49 closed

[2019-06-12 19:11] joelbarrette opened #51 "Editing Tags via MusicBee"
I don't know if I've missed a checkbox somewhere but I can't get tags edited in MusicBee to work. When I make a change to a file's tag the change just doesn't appear in MusicBee or on Airsonic

I've tried with a couple Airsonic accounts to try and rule out permissions but still can't get it to work. Is this not yet supported? and if something that could be possibly implemented? I'd be interested i

[2019-06-12 21:53] midwan commented on #51
@joelbarrette
This is not supported yet I'm afraid. Only the Star/Love tag changes is actually pushed over.
The Rating is also detected and pushed over, but due to a bug in the current version of MB, it never seems to get the actual value - instead it always gets "0" from MB, so it's not actually updated on the server. When/if this is fixed from MB, it will work with the plugin as it is.

I might

[2019-06-17 15:33] joelbarrette commented on #51
Hi Midwan,

Thank you for the quick response, I don't know if you accept code contributions from others but this is definitely something I would be willing to put the trial and error effort in for.

I probably won't get started anytime soon but when I have a moment I'd like to mess around and see if I can get at least get something started.

[2019-06-17 18:10] midwan commented on #51
@joelbarrette
Pull Requests are more than welcome! :)

I already put some (commented out for now) code there for this purpose, but it's not tested.

[2019-09-24 06:37] pbanj commented on #33
im getting the same issue. im using a raspberrypi running dietpi and running airsonic. it used to be fine but now when i try to use it i get the same issue.

[2019-09-28 21:45] midwan commented on #33
@pbanj
Could you provide detailed steps to recreate this please?
I could set up a DietPi installation to test it, perhaps that will show me something.

[2019-09-28 22:01] pbanj commented on #33
So it used to work just fine but recently I had to reinstall Windows, so I had to reinstall musicbee and this plugin. I even tried changing folder perms and reinstalling Airsonic, but neither helped. Dsub on Android is fine though. Now on how to it happens. Click anything on the left side browser so let's just say you click the subsonic directory, then try and click any of the artists that show up

[2019-10-20 03:05] lachlan-00 opened #52 "The filename was not found in the path"
What file and what path?
![image](https://user-images.githubusercontent.com/1305249/67154147-1d7e9b00-f33a-11e9-94af-e3a166334dd3.png)

[2019-10-20 09:39] midwan commented on #52
Sorry, I know the message is not very clear there (will fix it in the next update).
It's referring to the Cache file, I guess you tried to delete it?
If it doesn't exist, you'll get this message as a warning (it's OK if it doesn't exist of course, just letting you know).

[2019-10-20 09:50] #52 closed

[2019-10-20 23:57] lachlan-00 commented on #52
the new message is much clearer!

[2019-12-12 11:50] Austin76016 commented on #34
I am getting this but at least getting back an album list when selecting the Subsonic entry. I cannot select my root "Music" folder. I also have all of my albums showing up as individual songs and my only way to play them are by drilling down into the folder and playing songs individually from an album

[2019-12-29 11:08] epoupon opened #53 "Hex encoded password should report 1.12 api version"
Hello,

I guess the option "hex encoded password" is used to support old servers or servers that do not provide the new authentication scheme.
However the client api is still set to 1.13, and servers that stick to 1.12 or older complain about the version.

Therefore I think we should report api version 1.12 when the hex encoded password scheme is selected.

[2019-12-29 11:25] DOFfactory commented on #53
Hi, just an addition, I cannot get through in MusicBee of the `Detected a SubSonic server` if this helps.

[2020-01-06 18:51] viclangemaire commented on #33
I have the same issue like @pbanj described.

[2020-01-06 19:01] epoupon commented on #53
Here is a log example of what I get on the demo server (demo/demo) when using a hex encoded password:

[code]

[2020-01-10 08:12] midwan commented on #34
Sorry I've been away for a while, busy with other projects.
I should be able to revisit this soon and make some progress.

[2020-01-10 08:14] midwan commented on #53
Thanks, I'll look into this after I'm finished with a few other projects I'm in the middle of.

[2020-01-15 01:42] jaredallard commented on #33
Also running into this same issue, but I'm unable to play any music at all.

![image](https://user-images.githubusercontent.com/2391349/72397588-31e1f200-36f5-11ea-844d-58ae7fe5a2c7.png)

[2020-02-13 11:08] shams00 opened #54 "Can't rewind track when transcoding enabled"
**Describe the bug**
Can't rewind track when transcoding enabled.  Without transcoding it works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable transcoding in MB_SubSonic plugin configuration (192 Kbps)
2. Start playing track from airsonic server
3. Try to rewind track by dragging the thumb
4. Track is not rewinded, thumb returns to position it was before dragging.

**Expected b

[2020-03-30 05:14] andocromn opened #55 "Password change is not handled well"
I recently changed my password on my subsonic server, musicbee was very unhappy.  kept looping and error message but but did not prompt to update it.  I was able to update it but had to kill the app and restart.    NBD just figured I'd let you know  keep up the great work and stay healthy

thanks always
-Ryan

[2020-05-27 17:29] Austin76016 commented on #34
Just wanna give you an update on things that are different since last update. I am still getting the initial directory not found issue for the "Music" subdirectory under the "Subsonic" listing, but I am finally able to list all the songs by just clicking "Subsonic"! I am curious if it is possibly a permissions issue or if since the path isnt in the root of the server, ie /Music, then it sees nothi

[2020-07-10 14:56] Koenvh1 opened #56 "Background task keeps fetching even after shifting focus"
I noticed that when PreCacheAll is set to true, it will fetch the current level plus all levels below it. That is intended, however, once the focus is shifted from the top level to another level (such as a sublevel), and it was not finished fetching yet, then it will keep fetching even though the result will no longer be used. In my case, this means that I am suddenly sending a couple hundred requ

[2020-07-11 11:22] midwan commented on #56
@Koenvh1
Thanks! I'll test this, it looks like a good approach (and that area generally needs some extra love for sure).

[2020-10-27 17:21] christorepl opened #57 "Connection refused?"
I can connect via browser on MacOS and Windows, my Android app for it works, the MusicBee plugin just throw error messages. This is what the MusicBee error looks like - https://reddit-uploaded-media.s3-accelerate.amazonaws.com/images%2Ft2_2puc2e3j%2Fp258hui27ov51 - I've tried turning off my VPN on all machines, it seems to have no effect. Turned off my antivirus, no effect. I'm not sure how to int

[2020-10-27 21:13] christorepl commented on #57
i opened my ports and i can connect to my library via clementine, but still no luck with musicbee!

[2020-10-28 14:49] #57 closed

[2021-01-31 14:18] Wmartin417 commented on #33
I have this same issue.

[2021-01-31 18:04] midwan commented on #33
Unfortunately, so far I haven't had an environment here that would show me this, so I can recreate and fix it.
I'll try setting one up from scratch, in case I get lucky.

@jaredallard
Could you please share your environment details? What server are you using, version, etc.

[2021-01-31 19:20] Wmartin417 commented on #33
Airsonic v10.6.2 from ghcr.io/linuxserver/airsonic docker images ran on Debian 10 home server with docker v20.10.2.
Installed v3.3 MusicBee (not portable version) and mb_Subsonic_v2.28 on Windows 10
Plugin is configured to access the server locally and ping responds normally.
I have set up the plugin to access it over the internet, but seem to get the same error.

I have 1,000+ songs and when refr

[2021-02-03 21:30] midwan commented on #33
@Wmartin417
Thanks, I've finally been able to recreate this on a docker instance, so I'll get it fixed now.

[2021-02-03 21:41] pbanj commented on #33
Damn, I was thinking we'd never see this get fixed. Glad you were able to recreate it. What did it end up being?

[2021-02-03 21:45] midwan commented on #33
It seems it only happens if you have only 1 root folder (the default "Music" folder) which has the id = 0.
In all my earlier tests I had multiple folders configured, and each one had a separate id, so perhaps that's why I never saw it happen to me. With this new installation I just dumped everything under "Music" to quickly see how it looks, and I could recreate the problem immediately.

The subfo

[2021-02-03 22:09] zachminot commented on #33
Do you think this is also causing the music to not all show up when I click
on my share with 1 folder? I can only access the songs through going
through the folders in the folder explorer of music bee, where as I'd want
to see them in the details pane all at once.

On Wed, Feb 3, 2021, 4:45 PM Dimitris Panokostas <notifications@github.com>
wrote:

[2021-02-04 06:39] midwan commented on #33
Possibly. I think I might end up doing a big rewrite internally, as I don't really like the way it's designed - this was "inherited" from the original design that I picked up, when I decided to help move this project forward.
I'll probably spend some time on it during the weekend, stay tuned. :)

[2021-02-05 19:11] #53 closed

[2021-02-05 19:19] midwan commented on #22
Please test with the latest release here: https://github.com/midwan/MB_SubSonic/releases/tag/v2.30
If there's still an issue on your side, feel free to post here, and we'll re-open the case.

[2021-02-05 19:19] #22 closed

[2021-02-05 19:19] midwan commented on #33
This should be fixed now, with the new release: https://github.com/midwan/MB_SubSonic/releases/tag/v2.30

Please let me know if you still have any issues, I only had time for limited testing here, but it seems to work as expected now.

[2021-02-05 19:20] midwan commented on #34
This should be fixed with the latest release: https://github.com/midwan/MB_SubSonic/releases/tag/v2.30

Please let me know if not, and we'll re-open the case.

[2021-02-05 19:20] midwan commented on #50
Closing this, as there's nothing I can do until MusicBee implements support for it

[2021-02-05 19:20] #50 closed

[2021-02-05 19:21] midwan commented on #56
This should be fixed with the new release: https://github.com/midwan/MB_SubSonic/releases/tag/v2.30
I've removed pre-caching altogether, as it wasn't really worth the trouble it caused. Instead, we load files/folders on-demand now, which should be faster for most people.

[2021-02-05 19:21] #56 closed

[2021-02-05 19:24] midwan commented on #55
You can change the password from the plugin's Settings window, then re-save the settings.
However, MusicBee will automatically try to load the last opened file/folder on startup. If that was on Subsonic's server, then it will keep trying and failing (because of the incorrect password), without letting you get a chance to go in the Settings window.

I'm afraid I cannot do something about that howev

[2021-02-05 19:24] #55 closed

[2021-02-05 19:25] midwan commented on #51
Closing this due to inactivity. Feel free to come back with anything new if you want. :)

[2021-02-05 19:25] #51 closed

[2021-02-05 19:27] midwan commented on #47
With v2.30, we are already using GetIndexes for the folders under the "Root" one.

The browsing by tags idea should allow you to see an Artists/Albums/Tracks structure instead, but I'm not sure if it's even worth implementing in MusicBee - there are too many limitations going through that, as it seems to expect a folder structure when browsing through the left pane.

[2021-02-05 19:28] #33 closed

[2021-02-05 19:29] midwan commented on #24
Please test with the latest release: https://github.com/midwan/MB_SubSonic/releases/tag/v2.30

The problematic pre-caching is removed, and files/folders are only loaded on-demand now. Hopefully that should make it work better for you?

[2021-02-05 19:46] h3man1 commented on #34
Hi Midwan. I appreciate your effort on solving this issue but it's still not working for me. Uninstalled the old plugin and installed ver 2.3. Root folder still shows no information. At least there is no more error message.

[2021-02-05 19:48] midwan commented on #34
The Root folder is not supposed to show any "files" under it, but it should expand to show any folders (that are the Indexes from the Subsonic server really).
What do you see with this version?

[2021-02-05 19:54] h3man1 commented on #34
I have a main folder called music. In the first picture it would be the folder Sorted. When I click on it I was expecting to see the sub folders in my album pane. If this is not the expected behaviour I have to appologise for reopening this issue.

[2021-02-05 20:03] midwan commented on #34
Hm, I'm not sure what you expected to see, but MusicBee does not show folders on the filenames list.
Here's an example of how it looks here:

With Subsonic selected: no files
![image](https://user-images.githubusercontent.com/3877365/107082979-3cd25d80-67f5-11eb-95ff-f8eb860c7b7a.png)

With my Root folder "Music" selected: no files
![image](https://user-images.githubusercontent.com/3877365/1070830

[2021-02-05 20:04] midwan commented on #34
To clarify: I could show you the folders in the file list as well, but then MusicBee would incorrectly try to parse them as "files" when you double clicked on them, which would throw an error (since they are directories, not files).

[2021-02-05 20:06] midwan commented on #34
And one more note:
This is also done for performance considerations: we could do a recursive scan on a folder, and get ALL the files from ALL the subfolders there, but it would take a long time. On local HDDs that may be fine, but through the Subsonic API that could potentially take much more than you're willing to wait for.

So the choice was made to only show things on-demand, not recursively. :

[2021-02-05 20:21] h3man1 commented on #34
This was a big misunderstanding on my side. I thought this was only due to the error message I got on my root folder. Was hoping once this got fixed I could treat my subsonic like a local drive and display it the same way as my local library.

[2021-02-05 21:31] midwan commented on #34
@h3man1
No worries, at least we fixed the error!

[2021-02-05 21:31] #34 closed

[2021-03-13 14:43] StephenAtty opened #58 "Ping against Ampache returns "Error retrieving response""
**Describe the bug**
Running against Ampache 4.3.0 returns an error when trying to ping the server

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MusicBee plugin configuration
2. set up server to point to ampache server
3. click on ping
4. See error

**Expected behavior**
I'd expect ping to work. Subsonic clients on my phone do not have this problem

**Screenshots**

![image](https://

[2021-03-15 08:47] midwan commented on #58
Seems like different implementations of Subsonic-compatible APIs have some changes in the details as well. It worked with just `ping` on other implementations I was testing recently. :)
I'll get it fixed, thanks for reporting it!

[2021-03-15 08:55] #58 closed

[2021-03-15 08:58] midwan commented on #58
Please test with https://github.com/midwan/MB_SubSonic/releases/tag/v2.31 and let me know if there's still a problem with your server.

[2021-03-15 19:29] StephenAtty commented on #58
That worked - it connected and pinged OK.

there seem to be problems with browsing the server and getting it to play music - but I suspect that might be MusicBee rather than your plugin.

[2021-03-21 15:58] Creling opened #59 "【Bug Report】Ping command failed when opening configuration panel for the second time."
**Describe the bug**
It is a strange problem. When I type in username and password for the first time and ping, the pong is normal. However, after clicking save and then re-open configuration panel and do nothing other than ping again, the pong is wrong.

**To Reproduce**
I make a screen record:

![SfOj1M8v4E](https://user-images.githubusercontent.com/43109504/111911510-e0738680-8aa0-11eb-8054-f9e

[2021-03-21 16:16] midwan commented on #59
Wow, that is interesting indeed. I wonder what happens in the background to cause this kind of behavior.
Does the rest of the functionality work, however?

[2021-03-21 16:34] Creling commented on #59
For MusicBee, other functions are OK.
For MB_SubSonic, all functions do not work. They will show a similar error message like the pong.

[2021-03-21 16:40] Creling commented on #59
I find some strings in `subsonicSettings.dat` but they seems to be encrypted. Could you tell me how to decrypted them?

[2021-03-21 16:42] midwan commented on #59
You can't decrypt them (at least, not easily - that's the point), but you can delete the file and recreate the settings if you want.

[2021-03-21 16:46] Creling commented on #59
I have tried to delete the file, and mb_subsonic is initialized. However, the problem still exists.
So could you tell me how to create a file with arbitrary configuration directly？

[2021-03-21 16:52] midwan commented on #59
You can't create the file that way, it's encrypted from the plugin and it's expected to be encypted, otherwise it won't be read back correctly. If you recreated the settings from scratch, then the problem is not in the settings, but somewhere else.

You can call your server's endpoint manually (e.g. with a browser or a dedicated tool like Postman), if you know the URL. This page has the documentat

[2021-04-08 08:59] calandryll opened #60 "Unable to access playlists in new version of MusicBee on Airsonic server"
After a recent upgrade to the newest version of MusicBee 3.4.7764, and most recent release of the plugin, I get the error Unable to access playlist X error.  Folders will load and play correctly.  I'm connecting to Airsonic 10.6.2.

This is the error on the Airsonic when MusicBee tries to load the playist:
2021-04-08 04:55:17.407 INFO --- o.a.p.s.LoggingExceptionResolver : 10.0.0.71: Client unexpe

[2021-04-08 09:03] calandryll commented on #60
If I create a new playlist on the server and try to access it via MusicBee I get this error:
MusicBee v3.4.7764.37422D  (Win10.0), 8 Apr 2021 5:02:

System.NullReferenceException: Object reference not set to an instance of an object.
   at #=z1v6HwQ___W9fot3mUPBSD6cwyKsC.#=z66JHsCuXzfaD.#=zdj43$88kkcDD()
   at #=z1v6HwQ___W9fot3mUPBSD6cwyKsC.#=z66JHsCuXzfaD.#=zd0RxR5X4Cyz2wZLmkQ==(Boolean #=zYIQau

[2021-07-09 15:54] christorepl opened #61 "Login failed on Airsonic Advanced server"
When I try to ping the server, MusicBee says the server did not respond as expected, and my Airsonic Advanced log says there was a failed login:

`2021-07-09 11:46:28.622  INFO --- o.a.p.s.GlobalSecurityConfig             : Login failed from [my computer's local IP address]`

Logging in to Airsonic on my phone with Audinaut works fine and the web browser also works fine.

Both my Airsonic server a

[2021-07-09 16:09] christorepl commented on #61
Hahaha I feel silly! If I hit Save, close the dialog, then open it again and ping, it responds normally. Hopefully this well help someone else troubleshoot.

[2021-07-09 16:09] #61 closed

[2021-07-30 20:59] f09f9095 commented on #60
I have the same thing happening I believe. I can't access any playlists. It says Unable to access: Subsonic:\playlist-id. I can ping the server fine.

2021-07-30 20:42:10 stdout [33mWARN[0m[91015] HTTP: GET http://domain:5001/app/rest/ping.view?u=user&p=[REDACTED]&v=1.12.0&c=MusicBee [33melapsedTime[0m="35.807µs" [33mhttpStatus[0m=404[33mremoteAddr[0m=m.y.i.p [33mrequestId[0m=navidrome-copy/frLu9z

[2021-08-04 16:08] Jirubizu opened #62 "Failing handshake due to unexpected packet format"
When trying to connect to an airsonic server being run from ultra.cc I get the following error.
![image](https://chibi.jirubizu.cc/dy6moc.png)

[2021-08-07 20:39] midwan commented on #62
@Jirubizu
I can't recreate that in a standard environment with Airsonic here...
I've tried setting up Airsonic under Docker, using this image: https://github.com/linuxserver/docker-airsonic
Using the latest version of MB (currently 3.4.7805 P) and the latest version of the plugin (v2.32).

It seems that the network configuration for your Airsonic server is somehow different than the expected. Is i

[2021-08-07 20:41] midwan commented on #60
Please test with the latest versions of MB and the plugin?
I just did a quick test with MB 3.4.7805 P and MB_Subsonic v2.32 (updated today), and I can create a playlist and access it normally, through MB.

[2021-08-07 21:36] Jirubizu commented on #62
I am running my instance of airsonic on ultraseedbox, I get the following information about accessing airsonic from the site
![image](https://user-images.githubusercontent.com/37895773/128614409-badd2e73-e67e-49e8-82e1-7379fe8d1369.png)
This is the config that I am trying to input
![image](https://user-images.githubusercontent.com/37895773/128614430-5dcc878c-83ed-4d1d-af53-ddee722a4821.png)
I am r

[2021-08-07 22:19] Jirubizu commented on #62
@midwan
Forgot to mention but I have tried both token and hex password method but nothing worked

[2021-08-08 10:16] midwan commented on #62
It's hard to say what's wrong exactly, but based on the error message, something went wrong during the initial Ping command.
Perhaps you can test this yourself and see what you get back, from a browser.
The Subsonic API documentation is here: http://www.subsonic.org/pages/api.jsp

You can see some basic examples of the Ping endpoint as well. What happens if you try that from your browser?

[2021-08-08 11:30] Jirubizu commented on #62
So it seems to work when doing the API calls. Am I possibly filling out the dialog from the plugin wrong?
![Screenshot](https://chibi.jirubizu.cc/zgukrl.png)

[2021-08-08 11:33] Jirubizu commented on #62
Even using 1.13.0 as the version. I still get an OK response @midwan

[2021-08-08 11:44] Jirubizu commented on #62
Ok so, I ended up getting it working. This was what was wrong. I was providing a port when I wasn't using an API and using the HTTPS protocol. so removing the port helped. Secondly, I got confused by the path. I assumed it meant the default media path however, I had to provide the URI path to the exact location of the WebUI. after that, it worked fine. Sorry for the hassle I caused. I should have

[2021-08-08 12:30] midwan commented on #62
@Jirubizu
Ah, that's great! Thanks for providing the solution here, it might help others in the future.

[2021-08-08 12:30] #62 closed

[2021-08-10 07:07] calandryll commented on #60
Update works for me mostly.  Except playlists on the Airsonic server says unable to access.  All of the folders, etc. work fine just the playlists say unable to access.

[2021-08-13 19:44] f09f9095 commented on #60
Using the latest for both MB and this repo, I still can't access playlists. I can ping server and see the lists of playlists, but I'm unable to access the songs.
Error log when I click a playlist:
`8/13/2021 15:39:10 - 10.0.19042.0 - 3.4.7805.33439P - System.NullReferenceException: Object reference not set to an instance of an object.
   at #=zziapYCHkKIL0B5EplaYmmhGl87_u.#=zmqrj1uLUGPmd.#=zxqbUD1

[2021-08-14 13:04] midwan commented on #60
Can you create new playlists, and play those back?
It may be that old/existing ones don't work, but new ones do... I tested creating a new one, and it worked for me - but I didn't have an older one to check.

[2021-08-16 13:45] calandryll commented on #60
I had the same thought about creating a new playlist but received the same issue as above.

[2021-08-24 13:32] calandryll commented on #60
I tried installing all of the 3.4 branches that were available with no luck.  Rolling back to 3.3.7491, everything works.

[2021-08-25 06:58] midwan commented on #60
Strange that I can't recreate it so far, using the latest version. I'll have to try again and see if I can cause this, to figure out what changed and why it's failing for you guys...

[2021-08-25 15:57] midwan commented on #60
I tried it again today, using the following steps:
- Created a new playlist in Airsonic this time
- Fired up MusicBee 3.4.7805 P using the latest version of the plugin
- I could see the Playlist in the root directory of my Subsonic tree
- However, clicking on the Playlist showed no contents (even though it contained 2 songs)

Checking on the back-end, it seems that MusicBee calls "GetPlaylists" fi

[2021-08-25 16:02] midwan commented on #60
I've opened up a forum thread regarding this as well, here: https://getmusicbee.com/forum/index.php?topic=35468.0
Hopefully we can find a solution.

[2021-08-31 13:44] midwan commented on #60
While testing with older versions of the plugin, I found that v2.28 seems to work as expected with the Playlists, in both 3.3 and 3.4 versions of MB. I'll have to see what changes came since then, to figure out what might have triggered this behavior.
In the meantime, can anyone else please confirm if that's the case?

[2021-08-31 14:34] #60 closed

[2021-08-31 14:40] midwan commented on #60
Fixed in a new release: https://github.com/midwan/MB_SubSonic/releases/tag/v2.33

Please note, there is also a bug in MusicBee 3.4 itself, which needs to be fixed. I tested it with a patched version (3.4.7913 P) which seemed to work.

[2022-01-01 18:50] DutchComputerKid opened #64 "DSD Playback stops after 3 seconds on Subsonic and instantly on Airsonic"
**Describe the bug**
Transfer of music stops after 3 seconds or refuses to play at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://www.2l.no/hires/ to pick up a demo file in DSD format.
2. Add the file format to the lists of formats on your server, say Subsonic/Airsonic-Advanced.
3. If no DAC that can do DSD is present go to Preferences > Player > Configure > then set DSD F

[2022-01-02 11:31] #59 closed

[2022-01-02 11:55] midwan commented on #64
@DutchComputerKid
The file format does play in MusicBee directly, but does it play on Airsonic or Subsonic (e.g. from the web front-end)?
In my environment, it does not.

Airsonic doesn't play anything back when I select this file, while others work. I don't have a Subsonic installation ready to test with at the moment.

It could be that the problem is not in the plugin side, but rather on the Air

[2022-01-02 12:51] DutchComputerKid commented on #64
Yeah browser playback of DSD formatted music is not supported, so like I said external player + foobar worked great for many years on Subsonic.

So I figured its odd that it would play a little bit and then crap out on Subsonic, no idea where in the chain the error pops up.
Airsonic-Advanced as the server craps out instantly, so it could be a data transfer issue, it has more issues with things lik

[2022-01-05 05:31] tesshucom commented on #64
That's right. In order for Subsonic/Airsonic to enable FLAC transmission, there are two main areas that need to be addressed. One is to improve processing speed, and the other is to fix flaws in MIME judgment. The reason Subsonic and Airsonic both fail and fail differently is probably due to slightly different implementations in multiple places that need to be fixed.

If we solve all of these, all

[2022-01-06 20:41] DutchComputerKid commented on #64
Mannn thats a lot, awesome!

In the meantime it does look more and more like a tranfer problem.
Clients all crap themselves and Airsonic with --debug doesn't see anything wrong. The logs just say yes he's listening to this song now!

VLC crashes and I've even seen it complain 'Can't identify codec" and errors like that.
Foobar's still broken, and all that says is just "Network error", whatever tha

[2022-01-07 18:50] tesshucom commented on #64
If there is no problem with the MIME of the server, it will be a waste of time... So there is a relatively simple detection method.

 - Get the FLAC stream URI with transcoding turned off. In other words, the URI when sending directly. You can get the stream URI by getting the m3u file with an external player and opening it with an editor.
 - Get header information with ``curl command`` instead of

[2022-01-07 19:31] DutchComputerKid commented on #64
Finding out the MIME was a good point because using curl -v gave this:

`< HTTP/2 200
< server: nginx
< date: Fri, 07 Jan 2022 19:26:13 GMT
< content-type: application/octet-stream
< content-length: 170393927
`

Might explain why Foobar just sits there "Starting playback..." and then failing with the non-descript "Network error".
Sooo, if the MIME type would instead be audio, I wonder if that woul

[2022-01-07 19:47] tesshucom commented on #64
Looping is probably a secondary issue. Some players may retry as a post-processing of error behavior during a network stream. A common example is dealing with timeouts due to temporary overload. By the way, foobar2000 has a definite timeout process, and if you transcode a file that is too big, it may time out and give an error.
However in this retry process, for simple implementations that do not

[2022-01-07 19:50] DutchComputerKid commented on #64
No transcoding for this test, forgot to add that. Direct DSF file, since again, Subsonic plays but Airsonic does not.
On both its not sending the audio MIME but as you said the octet-stream MIME. Yet since Subsonic plays, maybe that's not the issue?

[2022-01-08 16:13] tesshucom commented on #64
Regarding MIME of FLAC and DSD, I think the issues are different and independent issues.

 - If the return MIME is application / octet-stream, it is likely that the server is not expecting to send that file format. DSD is a particularly special format, so it's a good idea to check with your product owner to see if you plan to officially support it.　
    - In other words, for both Airsonic and Subs

[2022-04-28 09:32] rstefko opened #65 "Local cache?"
In [v2.30](https://github.com/midwan/MB_SubSonic/releases/tag/v2.30) there is: Removed pre-caching function. Instead, only load folders on-demand and let MusicBee do any local library caching itself.

How is the MusicBee supposed to do the caching? I am clicking through the Subsonic folders / play songs, but I don't see any list of all songs in MusicBee. The Music tab is still empty.

[2022-04-28 10:38] rstefko commented on #65
When I select songs from Subsonic and righ-click them there is option Send to -> Library. It looks like to be working, but not sure this is how it is supposed to work (a lot of manual work).

[2022-04-28 12:42] midwan commented on #65
You should be seeing files/folders when browsing under the Subsonic tree, if the connection to the server is working.
What are you running from the server side?
What kind of authentication did you use?

[2022-04-28 12:45] rstefko commented on #65
Yes that is OK. But I would like to "Play Shuffled" through all songs in the library. But I can only play items from one folder / node. There is no list of all songs. So I thought that in previous versions the precaching loaded the songs to the library.

[2022-04-28 12:49] midwan commented on #65
Ah then I misunderstood what you're trying to do.
Yes, the pre-caching would iterate through all the subfolders and get all songs contained in them, but it was quite slow with huge music libraries, and there were several issues that were caused by the process which lead me to just take the whole thing away.

I'll check if there's another/better way to do what you're looking for.

[2022-05-07 05:54] xinstein opened #67 "The server did not respond to ping as expected. But curl gives correct response."
the plugin gives `The server did not respond to ping as expected` error, meanwhile the web server logs 200 response.
When I copy the same request (retrieved from web server log) and do it via curl, I get a normal-looking response:
[code]

When I hit save, apply, save. Musicbee UI shows a `Detected a subsonic server` at lower left bar (hardly noticeable).

My server is a nextcloud music server with

[2022-05-07 08:24] midwan commented on #67
@xinstein
Regarding the auth methods, you can check the details on the Subsonic API here: http://www.subsonic.org/pages/api.jsp
The recommended way for newer versions is to use Token-based auth.

The Ping response error is a bit strange, since it seems that the content you posted above is correct. It might be an internal error happening for some reason, as it will also show that message if that ha

[2022-05-08 18:24] midwan commented on #20
@weirdcrap Is anyone still using Libresonic these days?
It seems like people moved to Airsonic and from there to Airsonic-advanced now. I'm considering removing support for it, as the project seems dead for a few years now.

[2022-05-08 18:47] midwan commented on #67
@xinstein
Did you get a chance to try the latest release? Did that help at all?
I'm working on a few more improvements in the meantime...

[2022-05-08 19:46] midwan commented on #67
@xinstein
Looks like the NextCloud Music app implementation does not support Token-based authentication. I managed to set up a docker image with it to test it here, and this is what I get back from a Ping:

[code]

This explains your error message above, when using Token-based authentication. The problem is, based on the API version standard defined by Subsonic, Token-based authentication is avail

[2022-05-08 20:02] midwan commented on #67
@xinstein
Scratch the above, I managed to login (missed the part were the app only allows it's own generated API keys to login, not the Nextcloud credentials).

The next issue I found, which also causes the Ping response to fail, is the content of the response itself (compared to the expected one). Notice the differences below...

Nextcloud Ping "OK" response:
[code]

Subsonic / Airsonic-advanced

[2022-05-09 20:37] midwan commented on #67
After further testing, this definitely is an issue with Nextcloud's Music app implementation (at least, specifically that of the Subsonic API). It's not entirely correct, so the automatic deserialization of the response fails, leading to the content not being recognized as a valid response.

All other Subsonic compatible implementations that I've tested work fine, except this one (at least, so far

[2022-05-09 20:37] #67 closed

[2022-05-12 15:48] xinstein commented on #67
Thank you, sorry I forgot to check my email for days.

I'll report this to the nextcloud music app.

[2022-09-28 20:57] J4gQBqqR opened #68 "Multi-server support"
Hi, is it possible to support a fast dropdown menu that can enable convenient server switching between multiple servers?

[2022-10-03 09:09] midwan commented on #68
Hi @J4gQBqqR
It's possible to do that from the plugin's side, but it would need some work. How do you imagine this working?
1. Multiple config "profiles", each one with the server and authentication settings? And you switch from one to the other in the plugin config window? Which would imply only one can be "Active" at any time.
2. Multiple servers in MusicBee's window, with each one having their

[2022-10-12 11:11] J4gQBqqR commented on #68
Hi, sorry for coming back late.
As far as I know, all multi server support of Subsonic go with option 1, e.g. Dsub, sublime music, subtract.

I think it is enough and reasonable to have user switch server by themselves to see different contents.

In addition, is it easy enough to add the switch drop-down menu inside of the main GUI instead of the plugin config window? That would improve usability.

[2022-11-03 19:26] #64 closed

[2022-11-06 11:16] midwan commented on #68
@J4gQBqqR I've started working on this, it will be implemented as part of the upcoming v3.x release

[2022-11-06 15:19] midwan commented on #54
I cannot recreate this issue with the latest versions of MusicBee, the pluign and AirSonic server.
It's been quite a while since this was reported of course, so it may have been a bug somewhere that got fixed since. :)

I'm closing this issue, but if you still have problems with transcoding please let me know, and we can check again.

[2022-11-06 15:19] #54 closed

[2022-11-06 15:21] midwan commented on #24
Closing this as there hasn't been any activity for quite a while now.

[2022-11-06 15:21] #24 closed

[2022-11-06 15:26] midwan commented on #68
@J4gQBqqR Can you please test with this pre-release version, and see if everything seems OK for you?
[mb_Subsonic_v3.0_RC.zip](https://github.com/BlitterStudio/MB_SubSonic/files/9946148/mb_Subsonic_v3.0_RC.zip)

A few notes:
- The settings file format has changed, as we have to support multiple servers now. Your previous config will be migrated on startup (if you agree to the related prompt), and

[2022-11-07 14:26] J4gQBqqR commented on #68
I've tried it and configured multiple profiles, I hit ping server button and the server responses normally for all my configs.
However, my main UI window shows only one subfolder and it does not update to the selected server after I switch it in my plugin configs:
![图片](https://user-images.githubusercontent.com/77554817/200334180-0094bd11-e6d3-427b-a441-711ec586723e.png)
I selected "NewAge", hit a

[2022-11-07 14:30] midwan commented on #68
Have you tried selecting the Subsonic root level entry, and pressing F5 to refresh?

[2022-11-07 14:33] J4gQBqqR commented on #68
Yes, no luck though. The subfolder list does not refresh.
I reboot Musicbee and it defaults to the Default profile.
Now I cannot change profile anymore.

[2022-11-07 17:22] midwan commented on #68
@J4gQBqqR
Could you please test with the updated version below? This one seems to be working properly for me :)
[mb_Subsonic_v3.0_RC2.zip](https://github.com/BlitterStudio/MB_SubSonic/files/9953999/mb_Subsonic_v3.0_RC2.zip)

[2022-11-07 20:01] J4gQBqqR commented on #68
Great, it works when I switch the profile in the configuration dialog and press F5 in the main GUI!
Thanks for the awesome work.

It would be even nicer if all configs can show up as subfolders under the "Subsonic" main GUI entry. But I understand this would be a lot more code change. Current state is still very usable.

[2022-11-07 20:17] midwan commented on #68
@J4gQBqqR
Thanks for testing!
Yes, I can agree it could be improved further, but it's good to have a first version that has the basics working at least. One step at a time...

[2022-11-07 21:11] #68 closed